Repository usebruno/bruno, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, packages/bruno-app, packages/bruno-cli, packages/bruno-common, packages/bruno-docs, packages/bruno-electron, packages/bruno-graphql-docs, packages/bruno-js, packages/bruno-lang, packages/bruno-query, packages/bruno-schema, packages/bruno-tests, packages/bruno-toml

fix: type error in jsonToBru during import collection (#2761)
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: packages/bruno-lang

fix: BigInters are now correctly shown in the response (#2736)
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-app, packages/bruno-electron

add cache to cli-test job in tests workflow
  .github/workflows/tests.yml
Labels: none

added ready-to-show event
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

fix: handling draft headers and vars
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: packages/bruno-electron

fix: handling draft headers and vars
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: packages/bruno-electron

fix: draft variables and headers (#2651)
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: packages/bruno-electron

Revert "fix: BigInters are now correctly shown in the response (#2736)"
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-app, packages/bruno-electron

Revert "fix: BigInters are now correctly shown in the response (#2736)" (#2768)
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-app, packages/bruno-electron

add cache to cli-test job in tests workflow (#2766)
  .github/workflows/tests.yml
Labels: none

Bugfix/window UI distortion electron (#2765)
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

feat: comment with keybinding (cmd + /) in JSON payload interface (#2634)
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: packages/bruno-app

feat: mac specific os styling
  packages/bruno-app/src/providers/App/index.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

chore: bumped version
  packages/bruno-app/src/components/Sidebar/index.js
  packages/bruno-app/src/providers/App/useTelemetry.js
  packages/bruno-electron/package.json
Labels: packages/bruno-app, packages/bruno-electron

fix: lossless json serialization
  package-lock.json
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/axios-instance.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/utils/common.js
  packages/bruno-tests/collection/echo/echo bigint.bru
  packages/bruno-tests/collection/echo/echo bom json.bru
  packages/bruno-tests/collection/echo/echo json.bru
  packages/bruno-tests/collection/echo/echo plaintext.bru
  packages/bruno-tests/collection/echo/echo xml parsed.bru
  packages/bruno-tests/collection/echo/echo xml raw.bru
Labels: packages/bruno-electron, packages/bruno-tests

add placeholders
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
Labels: packages/bruno-app

placeholders for clone collection
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
Labels: packages/bruno-app

draft: folder var bru function update
  packages/bruno-app/src/providers/App/useIpcEvents.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-js/src/bru.js
  packages/bruno-js/src/runtime/assert-runtime.js
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
Labels: packages/bruno-app, packages/bruno-electron, packages/bruno-js

placeholders for inputs, placeholder-global-opacity, change cursor type for clickables
  packages/bruno-app/src/components/CollectionSettings/Presets/index.js
  packages/bruno-app/src/components/CollectionSettings/ProxySettings/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CopyEnvironment/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CreateEnvironment/index.js
  packages/bruno-app/src/components/Preferences/ProxySettings/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/ImportCollectionLocation/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

fix: generate oced modal height style
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/StyledWrapper.js
Labels: packages/bruno-app

fix: generate oced modal height style (#2772)
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/StyledWrapper.js
Labels: packages/bruno-app

fix(#2767): Fix serilization issues of bigint in json body
  packages/bruno-app/src/components/ResponsePane/Timeline/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-tests/collection/echo/echo bigint.bru
Labels: packages/bruno-app, packages/bruno-electron, packages/bruno-js, packages/bruno-tests

Add more code comments, add !forcePolling to prevent endless loops and update error message
  packages/bruno-electron/src/app/watcher.js
Labels: packages/bruno-electron

add ability for curl to import basic auth
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-app/src/utils/curl/index.js
  packages/bruno-app/src/utils/curl/parse-curl.js
Labels: packages/bruno-app

missing index from iter
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-electron

added uid for saving folder variables
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-electron

fix(#2767): addressing review comments
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-js

fix(#2767): addressing review comments
  packages/bruno-app/src/components/ResponsePane/Timeline/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-app, packages/bruno-js

revert placeholders for collection creation and collection cloning
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
  packages/bruno-app/src/components/CollectionSettings/Presets/index.js
  packages/bruno-app/src/components/CollectionSettings/ProxySettings/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CopyEnvironment/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CreateEnvironment/index.js
  packages/bruno-app/src/components/Preferences/ProxySettings/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

revert c-placeholder
  packages/bruno-app/src/components/Sidebar/ImportCollectionLocation/index.js
Labels: packages/bruno-app

revert: cliert cert placeholder
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
Labels: packages/bruno-app

UX - improvements Input Placeholders (#2780)
  packages/bruno-app/src/components/CollectionSettings/Presets/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/index.js
  packages/bruno-app/src/components/Sidebar/ImportCollectionLocation/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

disable response json parse flag
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-electron, packages/bruno-js

chore: placeholder ux improvements
  packages/bruno-app/src/components/CollectionSettings/Presets/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/globalStyles.js
  packages/bruno-app/src/styles/globals.css
  packages/bruno-app/src/themes/dark.js
  packages/bruno-app/src/themes/light.js
Labels: packages/bruno-app

fix: Handle ENOSPC error from chokidar (#2725)
  packages/bruno-electron/src/app/watcher.js
Labels: packages/bruno-electron

feat: added runner delay (#2218)
  packages/bruno-app/src/components/RunnerResults/StyledWrapper.js
  packages/bruno-app/src/components/RunnerResults/index.jsx
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/network/index.js
Labels: packages/bruno-app, packages/bruno-electron

Add TRACE to allowed import methods
  packages/bruno-schema/src/collections/index.js
  packages/bruno-schema/src/collections/requestSchema.spec.js
Labels: packages/bruno-schema

comp-rename Tooltip to InfoTip (fbu)
  packages/bruno-app/src/components/CollectionSettings/ProxySettings/index.js
  packages/bruno-app/src/components/FolderSettings/Vars/VarsTable/index.js
  packages/bruno-app/src/components/InfoTip/index.js
  packages/bruno-app/src/components/RequestPane/Vars/VarsTable/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
Labels: packages/bruno-app

Add TRACE to allowed import methods (#2783)
  packages/bruno-schema/src/collections/index.js
  packages/bruno-schema/src/collections/requestSchema.spec.js
Labels: packages/bruno-schema

(feat) Add shade to modal header in dark mode
  packages/bruno-app/src/themes/dark.js
Labels: packages/bruno-app

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

packages/bruno-app:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-app/**'

packages/bruno-cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-cli/**'

packages/bruno-common:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-common/**'

packages/bruno-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-docs/**'

packages/bruno-electron:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-electron/**'

packages/bruno-graphql-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-graphql-docs/**'

packages/bruno-js:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-js/**'

packages/bruno-lang:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-lang/**'

packages/bruno-query:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-query/**'

packages/bruno-schema:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-schema/**'

packages/bruno-tests:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-tests/**'

packages/bruno-toml:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-toml/**'
