Repository usebruno/bruno, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, packages/bruno-app, packages/bruno-cli, packages/bruno-common, packages/bruno-docs, packages/bruno-electron, packages/bruno-graphql-docs, packages/bruno-js, packages/bruno-lang, packages/bruno-query, packages/bruno-schema, packages/bruno-tests, packages/bruno-toml

fix: pr review comments
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-electron, packages/bruno-js

fix: additional func InfoTip
  packages/bruno-app/src/components/RequestPane/QueryUrl/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/ResponsePane/QueryResult/QueryResultFilter/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
Labels: packages/bruno-app

disable response json parse flag (#2782)
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-electron, packages/bruno-js

(feat) Add shade to modal header in dark mode (#2784)
  packages/bruno-app/src/themes/dark.js
Labels: packages/bruno-app

fix(#2767): fix failing test
  packages/bruno-electron/tests/network/prepare-request.spec.js
Labels: packages/bruno-electron

update bru req function name
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-app, packages/bruno-js

bru disableParsingResponseJson function rename (#2785)
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-js/src/bruno-request.js
Labels: packages/bruno-app, packages/bruno-js

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

packages/bruno-app:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-app/**'

packages/bruno-cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-cli/**'

packages/bruno-common:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-common/**'

packages/bruno-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-docs/**'

packages/bruno-electron:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-electron/**'

packages/bruno-graphql-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-graphql-docs/**'

packages/bruno-js:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-js/**'

packages/bruno-lang:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-lang/**'

packages/bruno-query:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-query/**'

packages/bruno-schema:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-schema/**'

packages/bruno-tests:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-tests/**'

packages/bruno-toml:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-toml/**'
