Repository usebruno/bruno, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, packages/bruno-app, packages/bruno-cli, packages/bruno-common, packages/bruno-docs, packages/bruno-electron, packages/bruno-graphql-docs, packages/bruno-js, packages/bruno-lang, packages/bruno-query, packages/bruno-schema, packages/bruno-tests, packages/bruno-toml

mask support for SingleLineEditor
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
  packages/bruno-app/src/utils/common/codemirror.js
Labels: packages/bruno-app

move visibility toggle into SingleLineComponent
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
Labels: packages/bruno-app

add secret visibility toggle button
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
Labels: packages/bruno-app

fix input field scales to 100% width
  packages/bruno-app/src/components/SingleLineEditor/index.js
Labels: packages/bruno-app

fix eye button focus state
  packages/bruno-app/src/components/SingleLineEditor/index.js
Labels: packages/bruno-app

center enabled and secret toggle
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
Labels: packages/bruno-app

Using a prvacy toggle for all sensitive auth details.
  packages/bruno-app/src/components/RequestPane/Auth/AwsV4Auth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/BasicAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/BearerAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/DigestAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/inputsConfig.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/inputsConfig.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/inputsConfig.js
Labels: packages/bruno-app

Applied privacy toggle to Collection Auth settings.
  packages/bruno-app/src/components/CollectionSettings/Auth/AwsV4Auth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/BasicAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/BearerAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/DigestAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/AuthorizationCode/inputsConfig.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/ClientCredentials/inputsConfig.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/PasswordCredentials/inputsConfig.js
Labels: packages/bruno-app

Added rawFile to bruno-lang v1 files.
  packages/bruno-lang/v1/src/body-tag.js
  packages/bruno-lang/v1/src/index.js
Labels: packages/bruno-lang

Added logic to select only one file.
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: packages/bruno-app, packages/bruno-electron

Made changes so only one file can be selected in raw file upload.
  packages/bruno-app/src/components/RawFilePickerEditor/index.js
  packages/bruno-app/src/components/RequestPane/RawFileParams/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-schema/src/collections/index.js
Labels: packages/bruno-app, packages/bruno-schema

Got file selection to work.
  packages/bruno-electron/src/utils/filesystem.js
Labels: packages/bruno-electron

Got request saving to work for faw files.
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: packages/bruno-electron, packages/bruno-lang

Making syntax corrections and checking tests.
  packages/bruno-lang/v1/src/body-tag.js
  packages/bruno-lang/v1/tests/fixtures/request.bru
  packages/bruno-lang/v1/tests/json-to-bru.spec.js
Labels: packages/bruno-lang

Rolling back test changes.
  packages/bruno-lang/v1/tests/fixtures/request.bru
  packages/bruno-lang/v1/tests/json-to-bru.spec.js
Labels: packages/bruno-lang

Update missing sponsor in readme_pt_br.md
  docs/readme/readme_pt_br.md
Labels: docs

Made corrections so file is correctly found and uploaded.
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: packages/bruno-cli, packages/bruno-electron

Made button for selecting a raw file bigger.
  packages/bruno-app/src/components/RequestPane/RawFileParams/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/RawFileParams/index.js
Labels: packages/bruno-app

feat: masking support for SingleLineEditor (#2240)
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
  packages/bruno-app/src/utils/common/codemirror.js
Labels: packages/bruno-app

Feature: Add a show/hide privacy toggle to passwords and secrets in Auth options (#2750)
  packages/bruno-app/src/components/CollectionSettings/Auth/AwsV4Auth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/BasicAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/BearerAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/DigestAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/AuthorizationCode/inputsConfig.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/ClientCredentials/inputsConfig.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/PasswordCredentials/inputsConfig.js
  packages/bruno-app/src/components/RequestPane/Auth/AwsV4Auth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/BasicAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/BearerAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/DigestAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/inputsConfig.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/inputsConfig.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/inputsConfig.js
Labels: packages/bruno-app

Update missing sponsor in readme_pt_br.md (#2754)
  docs/readme/readme_pt_br.md
Labels: docs

don't exclude cookies from request headers when importing from curl (#2748)
  packages/bruno-app/src/utils/curl/parse-curl.js
Labels: packages/bruno-app

fix(#2605): fix editor view height
  package-lock.json
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/Documentation/StyledWrapper.js
  packages/bruno-app/src/components/Documentation/index.js
  packages/bruno-app/src/components/MarkDown/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/RequestBody/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Script/index.js
  packages/bruno-app/src/components/RequestPane/Vars/index.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/StyledWrapper.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

chore: disabled prettier on github actions
  .github/workflows/tests.yml
Labels: none

fix(#2605): fix editor view height (#2758)
  .github/workflows/tests.yml
  package-lock.json
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/Documentation/StyledWrapper.js
  packages/bruno-app/src/components/Documentation/index.js
  packages/bruno-app/src/components/MarkDown/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/RequestBody/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Script/index.js
  packages/bruno-app/src/components/RequestPane/Vars/index.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/StyledWrapper.js
  packages/bruno-app/src/styles/globals.css
Labels: packages/bruno-app

set inital window-show: false (#2713)
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

fix: enter key not submitting new request form (#2630)
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
Labels: packages/bruno-app

Fix: contributing_fr.md (#2500)
  docs/contributing/contributing_fr.md
Labels: docs

set content-type header during code generation (#2491)
  packages/bruno-app/src/utils/codegenerator/har.js
Labels: packages/bruno-app

Create contributing_sk.md (#1524)
  docs/contributing/contributing_sk.md
Labels: docs

Feat/electron-bump - bump node version to match electron
  .nvmrc
Labels: none

Feat/electron-bump - bump node version - package-lock.json
  package-lock.json
  packages/bruno-app/package.json
Labels: packages/bruno-app

Feat/electron-bump - bump node version - documentation
  contributing.md
  docs/contributing/contributing_cn.md
  docs/contributing/contributing_de.md
  docs/contributing/contributing_es.md
  docs/contributing/contributing_fr.md
  docs/contributing/contributing_hi.md
  docs/contributing/contributing_it.md
  docs/contributing/contributing_ja.md
  docs/contributing/contributing_kr.md
  docs/contributing/contributing_pl.md
  docs/contributing/contributing_pt_br.md
  docs/contributing/contributing_ro.md
  docs/contributing/contributing_ru.md
  docs/contributing/contributing_sk.md
  docs/contributing/contributing_tr.md
  docs/contributing/contributing_ua.md
  docs/contributing/contributing_zhtw.md
Labels: docs

fix: add optional chaining to prevent type error
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: packages/bruno-lang

fix: remove debug code
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: packages/bruno-lang

add cache to tests workflow
  .github/workflows/tests.yml
Labels: none

chore: temporarily reverting the change related to pr - #2713
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

set initial window: false
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

set window: true after loading the window state
  packages/bruno-electron/src/index.js
Labels: packages/bruno-electron

add cache to tests workflow (#2762)
  .github/workflows/tests.yml
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

packages/bruno-app:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-app/**'

packages/bruno-cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-cli/**'

packages/bruno-common:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-common/**'

packages/bruno-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-docs/**'

packages/bruno-electron:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-electron/**'

packages/bruno-graphql-docs:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-graphql-docs/**'

packages/bruno-js:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-js/**'

packages/bruno-lang:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-lang/**'

packages/bruno-query:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-query/**'

packages/bruno-schema:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-schema/**'

packages/bruno-tests:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-tests/**'

packages/bruno-toml:
  - changed-files:
      - any-glob-to-any-file: 'packages/bruno-toml/**'
