Repository usebruno/bruno, pull requests merged in 2024-04, with the labels that each got.

#2025 Fix: fix population of data when data-urlencode flag is used with G flag i…
  packages/bruno-app/src/utils/curl/parse-curl.js
Labels: pr-bugfix

#2018 feat: save unsaved request changes before renaming
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
Labels: pr-qol

#1947 fix: Collection variable viewer
  packages/bruno-app/src/components/VariablesEditor/index.js
Labels: pr-bugfix

#1936 Fixes #1935 - Underlying components no longer overlap modals
  packages/bruno-app/src/components/Modal/StyledWrapper.js
Labels: pr-bugfix

#1914 Add pretty option to xml request content
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
Labels: pr-feature

#1917 fix(#1898): Ignore empty headers to prevent sending request error
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: pr-feature

#1831 fix: json body prettify not working with comments
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
Labels: pr-bugfix

#1827 fix: converting request url to valid URI on code generate
  packages/bruno-app/src/utils/codegenerator/har.js
Labels: pr-bugfix

#2034 Prevent losing unsaved environment variable data when attempting to change env
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/ConfirmSwitchEnv.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/index.js
Labels: pr-bugfix
