Repository usebruno/bruno, pull requests merged in 2024-10, with the labels that each got.

#3231 feat: bru fns update
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-js/src/bru.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
Labels: size/M

#3252 INTERNAL | correcting WSSE logic
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: size/M

#3251 refactor: Update color variable in Keybindings component
  packages/bruno-app/src/components/Preferences/Keybindings/StyledWrapper.js
Labels: size/XS

#3249 Handle blank post request variables in request run
  packages/bruno-js/src/runtime/vars-runtime.js
Labels: size/XS

#3247 fix: select no-env issue
  packages/bruno-app/src/providers/App/useIpcEvents.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/store/ui-state-snapshot.js
Labels: size/M

#3293 fix: failing to import insomnia collection when username/password in auth is null
  packages/bruno-app/src/utils/importers/insomnia-collection.js
Labels: size/XS

#3284 Style: Update `Toolhint` Z-Index and Add Toolhint for `GlobalEnvironmentSelector`
  packages/bruno-app/src/components/RequestTabs/CollectionToolBar/index.js
  packages/bruno-app/src/components/ToolHint/index.js
Labels: size/XS

#3267 Create default environments on openapi import using server url
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/S

#3299 fix(#3287): res.setBody safe mode
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-response.js
Labels: size/XS

#3303 Fix Date Handling in Insomnia Collection Import
  packages/bruno-app/src/utils/importers/insomnia-collection.js
Labels: size/XS

#3291 Refactor environment variable styling and error handling
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/StyledWrapper.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
Labels: size/M

#3305 fix: global env ui fixes
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSelector/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/StyledWrapper.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/EnvironmentList/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/index.js
  packages/bruno-app/src/components/RequestTabs/CollectionToolBar/index.js
  packages/bruno-app/src/components/ToolHint/index.js
Labels: size/M

#3312 fix: add global env vars to the active collection
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
Labels: size/M

#3300 feat: upgrade libraries for dependabot alerts
  package-lock.json
  package.json
  packages/bruno-app/next.config.js
  packages/bruno-app/package.json
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/Navbar/StyledWrapper.js
  packages/bruno-app/src/components/Navbar/index.js
  packages/bruno-app/src/components/RequestPane/SaveRequest/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/SaveRequest/index.js
  packages/bruno-app/src/components/ResponsePane/QueryResult/QueryResultPreview/index.js
  packages/bruno-app/src/components/Toast/StyledWrapper.js
  packages/bruno-app/src/components/Toast/index.js
  packages/bruno-app/src/globalStyles.js
  packages/bruno-app/src/pages/_app.js
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/styles/globals.css
  packages/bruno-app/src/utils/common/setupPolyfills.js
  packages/bruno-cli/package.json
  packages/bruno-common/package.json
  packages/bruno-electron/package.json
  packages/bruno-graphql-docs/package.json
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-query/package.json
  packages/bruno-tests/collection/echo/echo xml parsed.bru
  packages/bruno-tests/package.json
  packages/bruno-tests/src/index.js
  packages/bruno-tests/src/utils/xmlParser.js
Labels: size/XL

#3330 chore: removed unused libraries
  package-lock.json
  package.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
  packages/bruno-app/src/components/Sidebar/index.js
  packages/bruno-electron/package.json
  packages/bruno-js/package.json
Labels: size/S

#3334 Feat/import folder and collection level scripts from postman
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/L

#3324 fix: Add missing postman translation functions
  packages/bruno-app/src/utils/importers/translators/postman_translation.js
Labels: size/XS

#3317 Fixes Issue #3233: set httpsAgentRequestFields on request.httpsAgent when shouldProxy or shouldUseSystemProxy was false
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/XS

#3345 feat:add res() function shim to safe-mode
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-response.js
Labels: size/S

#3344 fix: global env - for selected env in sidebar - check for updates
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/EnvironmentList/index.js
Labels: size/S

#3256 fix: can't create collection on empty directory
  packages/bruno-electron/src/ipc/collection.js
Labels: size/S

#3359 Feat/content indication for collections and folders
  packages/bruno-app/src/components/CollectionSettings/index.js
  packages/bruno-app/src/components/FolderSettings/index.js
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
Labels: size/M
