Repository usebruno/bruno, pull requests merged in 2024-12, with the labels that each got.

#3635 fix: rename folder case insensitive
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/M

#3617 feat: replace nextjs with rsbuild
  packages/bruno-app/.gitignore
  packages/bruno-app/next.config.js
  packages/bruno-app/package.json
  packages/bruno-app/rsbuild.config.mjs
  packages/bruno-app/src/components/Portal/index.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Table/index.js
  packages/bruno-app/src/index.js
  packages/bruno-app/src/pages/Main.js
  packages/bruno-app/src/pages/_document.js
  packages/bruno-app/src/pages/index.js
  packages/bruno-app/src/providers/App/useTelemetry.js
  packages/bruno-app/src/providers/ReduxStore/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/notifications.js
  packages/bruno-graphql-docs/package.json
  scripts/build-electron.sh
Labels: size/L

#3481 feat: add support for importing collection-level variables from PM collections
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/S

#3550 fix: update pathname validation to use basename for directory checks #2193
  packages/bruno-electron/src/ipc/collection.js
Labels: size/XS

#3653 fix: bruno-app tests
  package-lock.json
  packages/bruno-app/.babelrc
  packages/bruno-app/package.json
Labels: size/XS

#3655 fix: rsbuild related error fixes
  packages/bruno-app/src/utils/codemirror/brunoVarInfo.js
Labels: size/XS

#3206 feat: folder documentation
  packages/bruno-app/src/components/FolderSettings/Documentation/StyledWrapper.js
  packages/bruno-app/src/components/FolderSettings/Documentation/index.js
  packages/bruno-app/src/components/FolderSettings/index.js
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
Labels: size/L

#3559 refactor: add sanitization for collection and folder name fixes: #160
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/S

#3648 fix: update content-type header for XML requests to application/xml
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: size/XS

#3607 fix: Stale Tabs for Folder Settings on Rename/Delete (fixes: #3606)
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/DeleteCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
Labels: size/S

#3591 Feat/displaying variable hints as secrets for Global Environment Secrets
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/utils/collections/index.js
Labels: size/M

#3590 Fix/global env duplicate name error
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CreateEnvironment/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/CreateEnvironment/index.js
Labels: size/S

#3677 fix: plain text curl data
  packages/bruno-app/src/utils/curl/curl-to-json.js
Labels: size/XS
