Repository usebruno/bruno, pull requests merged in 2024-11, with the labels that each got.

#3451 fix: cli run-summary count fix for requests with ECONNREFUSED error
  packages/bruno-cli/src/runner/run-single-request.js
Labels: size/XS

#3464 Add a proper example for using the usebruno query library in the READ…
  packages/bruno-query/readme.md
Labels: size/XS

#3509 fix: server_rendered logic for newer versions of nextjs
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/MultiLineEditor/index.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
  packages/bruno-app/src/pages/Bruno/index.js
  packages/bruno-app/src/pages/_app.js
  packages/bruno-app/src/utils/common/codemirror.js
Labels: size/S

#3490 fix: posthog api key - process env var
  packages/bruno-app/.gitignore
  packages/bruno-app/src/components/Sidebar/GoldenEdition/index.js
  packages/bruno-app/src/providers/App/useTelemetry.js
Labels: size/XS

#3488 fix: checkov CKV2_GHA_1 warning
  .github/workflows/tests.yml
Labels: size/XS

#3489 fix: checkov CKV_GHA_7 warning
  .github/workflows/npm-bru-cli.yml
Labels: size/XS

#3483 refactor/ bruno-testbench updates
  packages/bruno-tests/collection/preview/image/bruno.bru
  packages/bruno-tests/collection/string interpolation/runtime vars.bru
Labels: size/XS

#3452 fix: incorrect dispatch fn calls -- global env slice
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
Labels: size/S

#3441 fix: exclude Meta, Alt, Home and End key press for autocomplete trigger
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/XS

#3439 fix: codemirror styling fixes, post library upgrade
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/StyledWrapper.js
  packages/bruno-app/src/globalStyles.js
  packages/bruno-app/src/styles/globals.css
Labels: size/L

#3440 fix: import openapi -- baseUrl env value should not include trailing slash
  packages/bruno-app/jest.config.js
  packages/bruno-app/src/utils/importers/openapi-collection.js
  packages/bruno-app/src/utils/importers/openapi-collection.spec.js
Labels: size/M

#3508 chore: node version bump -- v22.11.0
  .nvmrc
  packages/bruno-electron/src/utils/encryption.js
  packages/bruno-electron/tests/utils/encryption.spec.js
Labels: size/M

#3340 Now based on the request type appropriate views are shown.
  packages/bruno-app/src/components/Sidebar/NewRequest/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/utils/codegenerator/har.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-app/src/utils/curl/index.js
Labels: size/L

#3388 Feat/import translation for deprecated pm import
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/utils/importers/translators/index.spec.js
  packages/bruno-app/src/utils/importers/translators/postman_translation.js
  packages/bruno-js/src/bru.js
Labels: size/S

#3482 fix: enhance path normalization for WSL compatibility in watcher (fix #1928)
  packages/bruno-electron/src/app/watcher.js
Labels: size/XS

#3472 fix: improve masking logic in MaskedEditor for large content handling (fixes #2842)
  packages/bruno-app/src/utils/common/codemirror.js
Labels: size/S

#3450 feat: add validation to prevent duplicate global environment names (fixes: #3449)
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
  packages/bruno-electron/src/store/global-environments.js
Labels: size/XS

#3462 fix/ Script execution is prevented by line comments
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/S

#3447 bugfix / remove error logging for missing global environment
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
Labels: size/XS

#3459 Fix: (#3383) openapi yaml req body not importing
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/XS

#3268 Feat/displaying variable hints as secrets
  packages/bruno-app/src/utils/codemirror/brunoVarInfo.js
  packages/bruno-app/src/utils/collections/index.js
Labels: size/M

#3520 Update readme.md
  readme.md
Labels: size/XS

#3274 Fix/invalid file name handling
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/S

#3236 feat: Graceful handle rename/move: Fix `EPERM` Error When Renaming Parent Folders on Windows
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/M

#3565 fix: humanize-date fixes: #3556
  packages/bruno-app/src/providers/ReduxStore/slices/notifications.js
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-app/src/utils/common/index.spec.js
Labels: size/M

#3573 fix: response pane width shift styling for timeline tab
  packages/bruno-app/src/components/RequestTabPanel/StyledWrapper.js
Labels: size/XS

#3557 Fix/improve env modal error when duplicate names
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CreateEnvironment/index.js
Labels: size/S

#3551 Add "docs" to copy for export (1615)
  packages/bruno-app/src/utils/collections/index.js
Labels: size/XS

#3547 Fix/xml body not getting added during curl import.
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-app/src/utils/curl/index.js
Labels: size/XS
