Repository usebruno/bruno, pull requests merged in 2024-08, with the labels that each got.

#2754 Update missing sponsor in readme_pt_br.md
  docs/readme/readme_pt_br.md
Labels: size/XS

#2748 don't exclude cookies from request headers when importing from curl
  packages/bruno-app/src/utils/curl/parse-curl.js
Labels: size/XS

#2758 fix(#2605): fix editor view height
  .github/workflows/tests.yml
  package-lock.json
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/Documentation/StyledWrapper.js
  packages/bruno-app/src/components/Documentation/index.js
  packages/bruno-app/src/components/MarkDown/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/RequestBody/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Script/index.js
  packages/bruno-app/src/components/RequestPane/Vars/index.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/StyledWrapper.js
  packages/bruno-app/src/styles/globals.css
Labels: size/M

#2491 set content-type header during code generation
  packages/bruno-app/src/utils/codegenerator/har.js
Labels: size/S

#2762 chore: add cache to tests workflow
  .github/workflows/tests.yml
Labels: size/XS

#2761 fix: type error in jsonToBru during import collection
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: size/XS

#2651 fix: draft variables and headers
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: size/S

#2768 Revert "Fix/bigint in response"
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/S

#2766 chore: add cache to cli-test job in tests workflow
  .github/workflows/tests.yml
Labels: size/XS

#2772 fix: generate code modal height style
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/StyledWrapper.js
Labels: size/XS

#2783 Add TRACE to OpenAPI allowed methods during import
  packages/bruno-schema/src/collections/index.js
  packages/bruno-schema/src/collections/requestSchema.spec.js
Labels: size/XS

#2782 disable response json parse flag
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/bruno-request.js
Labels: size/S

#2784 (feat) Add shade to modal header in dark mode
  packages/bruno-app/src/themes/dark.js
Labels: size/XS

#2511 Safe Mode using isolated-vm
  .github/workflows/tests.yml
  package-lock.json
  package.json
  packages/bruno-app/src/components/Modal/index.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/CollectionToolBar/index.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/SpecialTab.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/SecuritySettings/AppMode/index.js
  packages/bruno-app/src/components/SecuritySettings/JSRuntime/index.js
  packages/bruno-app/src/components/SecuritySettings/SecurityIconWithModal/AppModeModal/index.js
  packages/bruno-app/src/components/SecuritySettings/SecurityIconWithModal/index.js
  packages/bruno-app/src/components/SecuritySettings/StyledWrapper.js
  packages/bruno-app/src/components/SecuritySettings/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/store/collection-security.js
  packages/bruno-js/package.json
  packages/bruno-js/scripts/prebuild-isolated-vm-for-dev.js
  packages/bruno-js/scripts/prebuild-isolated-vm-for-prod-builds.js
  packages/bruno-js/src/runtime/assert-runtime.js
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/runtime/vars-runtime.js
  packages/bruno-js/src/sandbox/isolatedvm/index.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/bru.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/brunoRequest.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/brunoResponse.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/console.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/axios-min.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/axios.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/index.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/nanoid.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/uuid-min.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/uuid.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/test.js
  packages/bruno-js/src/sandbox/isolatedvm/utils/bundleLibraries.js
  packages/bruno-js/tests/runtime.spec.js
Labels: size/XXL

#2804 fix: query url overflowing
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
Labels: size/XS

#2813 feat: safe mode updates
  packages/bruno-js/src/sandbox/isolatedvm/index.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/lib/axios.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/sleep.js
Labels: size/L

#2792 Bugfix(#1765) - Added the ablility to save the response in utf8 format.
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/S

#2793 bugfix(#2379) - Removed the logic that strips the backslash
  packages/bruno-app/src/utils/curl/curl-to-json.js
Labels: size/XS

#2825 Feat/safe mode quickjs
  contributing.md
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/.gitignore
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/sandbox/bundle-libraries.js
  packages/bruno-js/src/sandbox/isolatedvm/index.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-request.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-response.js
  packages/bruno-js/src/sandbox/quickjs/shims/test.js
  packages/bruno-js/src/sandbox/quickjs/utils/index.js
  packages/bruno-tests/collection/environments/Prod.bru
  packages/bruno-tests/collection/ping.bru
  packages/bruno-tests/collection/scripting/api/bru/getEnvName.bru
  packages/bruno-tests/collection/scripting/api/bru/setVar.bru
  packages/bruno-tests/collection/scripting/api/req/getUrl.bru
Labels: size/XL

#2817 fix: align folder settings pane + scripts with request pane
  packages/bruno-app/src/components/FolderSettings/Script/index.js
  packages/bruno-app/src/components/FolderSettings/index.js
Labels: size/S

#2778 feat: add ability for cURL to import basic auth
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-app/src/utils/curl/index.js
  packages/bruno-app/src/utils/curl/parse-curl.js
Labels: size/M

#2789 Fix/enospc
  packages/bruno-electron/src/app/watcher.js
Labels: size/XS

#2183 feat: added request tab context menu
  packages/bruno-app/src/components/Dropdown/StyledWrapper.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/RequestTabs/StyledWrapper.js
  packages/bruno-app/src/components/RequestTabs/index.js
Labels: pr-feature

#2800 feat: add hotkey to close all tabs
  packages/bruno-app/src/providers/Hotkeys/index.js
Labels: size/S

#2819 feat: Add support for dictionary and use in Welcome page
  packages/bruno-app/src/components/Welcome/index.js
  packages/bruno-app/src/dictionaries/en.js
  packages/bruno-app/src/dictionaries/index.js
  packages/bruno-app/src/pages/_app.js
  packages/bruno-app/src/providers/Dictionary/index.js
Labels: size/M

#2843 fix: add path params on newHttpRequest
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
Labels: size/S

#2834 feat: Reuse dictionary in preferences support page
  packages/bruno-app/src/components/Preferences/Support/index.js
  packages/bruno-app/src/dictionaries/en.js
Labels: size/S

#2845 Bugfix- Import blank directory Exception
  packages/bruno-app/src/components/Sidebar/ImportCollectionLocation/index.js
Labels: size/XS

#2846 added async await functionality for scripts, tests. synchronous execution of asserts
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-js/src/bundle-browser-rollup.js
  packages/bruno-js/src/runtime/assert-runtime.js
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/runtime/vars-runtime.js
  packages/bruno-js/src/sandbox/isolatedvm/shims/test.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-request.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-response.js
  packages/bruno-js/src/sandbox/quickjs/shims/console.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/nanoid.js
  packages/bruno-js/src/sandbox/quickjs/shims/test.js
  packages/bruno-js/src/sandbox/quickjs/utils/index.js
Labels: size/XL

#2815 fix: remove scope with auth code grant
  packages/bruno-electron/src/ipc/network/oauth2-helper.js
Labels: size/XS

#2801 fix: remove duplicate tailwind classes in RequestNotFound component
  packages/bruno-app/src/components/RequestTabPanel/RequestNotFound/index.js
Labels: size/XS

#2851 wip: code cleanup, added axios shim to quick js vm
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/axios.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/nanoid.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/node-fetch.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/uuid.js
  packages/bruno-js/src/sandbox/quickjs/shims/sleep.js
  packages/bruno-js/src/sandbox/quickjs/shims/test.js
  packages/bruno-tests/collection/scripting/inbuilt modules/nanoid/nanoid.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/node-fetch/node-fetch-pre-req-script.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/uuid/uuid.bru
Labels: size/L

#2858 feat: added bru.sleep shim
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/sandbox/quickjs/shims/sleep.js
Labels: size/M

#2855 fix: invalid file path in shell-curl
  packages/bruno-app/src/utils/codegenerator/har.js
Labels: size/XS

#2809 Feature: Visualize if request body, script or tests have content (#2757)
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
Labels: size/S

#2866 feat: safe mode quickjs updates
  package-lock.json
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/sandbox/bundle-libraries.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/node-fetch.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/path.js
  packages/bruno-tests/collection/lib/math.js
  packages/bruno-tests/collection/ping.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/crypto-js/crypto-js-pre-request-script.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/nanoid/nanoid.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/node-fetch/node-fetch-pre-req-script.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/uuid/uuid.bru
Labels: size/L

#2867 Style/assert option bg
  packages/bruno-app/src/components/RequestPane/Assertions/AssertionOperator/index.js
  packages/bruno-app/src/components/RequestPane/Assertions/StyledWrapper.js
Labels: size/S

#2874 wip: safe mode updates
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/utils.js
  packages/bruno-js/tests/utils.spec.js
Labels: size/M

#2887 fix: getRequestVar vm shim, boolean values in vm
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/sandbox/quickjs/utils/index.js
Labels: size/XS

#2711 Bugfix/ update rollup to fix build warnings about unrecognized option
  package-lock.json
  package.json
  packages/bruno-common/package.json
  packages/bruno-graphql-docs/package.json
  packages/bruno-query/package.json
Labels: size/S

#2673 Feat/ Update node version used by project to match Electron
  .nvmrc
  contributing.md
  docs/contributing/contributing_cn.md
  docs/contributing/contributing_de.md
  docs/contributing/contributing_es.md
  docs/contributing/contributing_fr.md
  docs/contributing/contributing_hi.md
  docs/contributing/contributing_it.md
  docs/contributing/contributing_ja.md
  docs/contributing/contributing_kr.md
  docs/contributing/contributing_pl.md
  docs/contributing/contributing_pt_br.md
  docs/contributing/contributing_ro.md
  docs/contributing/contributing_ru.md
  docs/contributing/contributing_tr.md
  docs/contributing/contributing_ua.md
  docs/contributing/contributing_zhtw.md
  package-lock.json
  packages/bruno-app/package.json
Labels: size/M

#2899 fix: interpolation of multiple interdependent variables
  package-lock.json
  package.json
  packages/bruno-common/src/interpolate/index.spec.ts
  packages/bruno-common/src/interpolate/index.ts
Labels: size/M

#2893 fix: boolean, undefined, null values eval in quickjs vm
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/SecuritySettings/JsSandboxModeModal/index.js
  packages/bruno-cli/package.json
  packages/bruno-electron/package.json
  packages/bruno-js/package.json
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-tests/collection/scripting/js/data types - request vars.bru
Labels: size/L

#2891 test: added test for self closing tags in xml-json parser
  packages/bruno-tests/collection/echo/echo xml parsed(self closing tags).bru
Labels: size/M

#2892 Fix/rename-collection-support-wsl
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/M

#2906 fix: quickjs vm handle errors
  packages/bruno-js/src/sandbox/quickjs/index.js
Labels: size/XS

#2840 Feature(DX): Introduce singular dev script to improve DX
  package-lock.json
  package.json
Labels: size/XS

#2886 bugfix/fix save text response as base64
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/S

#2375 feat(#2350) Allow relative paths in markdown in docs.
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/CollectionSettings/Docs/index.js
  packages/bruno-app/src/components/Documentation/index.js
  packages/bruno-app/src/components/MarkDown/index.jsx
Labels: size/S

#2274 Add documentation to postman import and export
  packages/bruno-app/src/utils/exporters/postman-collection.js
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: pr-bugfix, size/XS

#1121 Remove deprecated jsonlint package and use upto date package
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/XS

#750 Self-host Inter font to fix GDPR issue
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/pages/_app.js
  packages/bruno-app/src/pages/_document.js
Labels: size/S

#2917 Bugfix/request body value cutoff
  packages/bruno-app/src/components/MultiLineEditor/StyledWrapper.js
Labels: size/XS

#2915 feat: Replace dictonary i18n with react-i18next
  contributing.md
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/Preferences/Support/index.js
  packages/bruno-app/src/components/Welcome/index.js
  packages/bruno-app/src/dictionaries/en.js
  packages/bruno-app/src/dictionaries/index.js
  packages/bruno-app/src/i18n/index.js
  packages/bruno-app/src/i18n/translation/en.json
  packages/bruno-app/src/pages/_app.js
  packages/bruno-app/src/pages/index.js
  packages/bruno-app/src/providers/Dictionary/index.js
Labels: size/L

#2931 feat: add Georgian README translations
  docs/readme/readme_ar.md
  docs/readme/readme_bn.md
  docs/readme/readme_cn.md
  docs/readme/readme_de.md
  docs/readme/readme_es.md
  docs/readme/readme_fr.md
  docs/readme/readme_it.md
  docs/readme/readme_ja.md
  docs/readme/readme_ka.md
  docs/readme/readme_kr.md
  docs/readme/readme_pl.md
  docs/readme/readme_pt_br.md
  docs/readme/readme_ro.md
  docs/readme/readme_ru.md
  docs/readme/readme_tr.md
  docs/readme/readme_ua.md
  docs/readme/readme_zhtw.md
  readme.md
Labels: size/L

#2933 feat: revert await keyword for test
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/utils.js
  packages/bruno-js/tests/utils.spec.js
Labels: size/M

#2905 fix: multiple tab collection level settings
  packages/bruno-app/src/components/FolderSettings/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
Labels: size/M

#2897 fix: Failed to construct 'URL': Invalid URL everytime the URL is modified
  packages/bruno-app/src/utils/url/index.js
Labels: size/XS

#2932 feat: electron sandbox bundle libraries check
  packages/bruno-electron/src/index.js
Labels: size/S

#2773 fix(#2767): Fix serilization issues of bigint in json body
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/ResponsePane/Timeline/index.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/tests/network/prepare-request.spec.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-tests/collection/echo/echo bigint.bru
Labels: size/L

#2421 feat: Store client certificate paths in collection settings as relative to collection and display them the UI.
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
  packages/bruno-app/src/components/CollectionSettings/index.js
Labels: pr-qol

#2204 feat: adjust code editor font size
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/CollectionSettings/Docs/index.js
  packages/bruno-app/src/components/CollectionSettings/Script/index.js
  packages/bruno-app/src/components/CollectionSettings/Tests/index.js
  packages/bruno-app/src/components/Documentation/index.js
  packages/bruno-app/src/components/FolderSettings/Script/index.js
  packages/bruno-app/src/components/FolderSettings/Tests/index.js
  packages/bruno-app/src/components/Preferences/Font/index.js
  packages/bruno-app/src/components/RequestPane/GraphQLRequestPane/index.js
  packages/bruno-app/src/components/RequestPane/GraphQLVariables/index.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryEditor/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/index.js
  packages/bruno-app/src/components/RequestPane/Script/index.js
  packages/bruno-app/src/components/RequestPane/Tests/index.js
  packages/bruno-app/src/components/ResponsePane/QueryResult/QueryResultPreview/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/index.js
  packages/bruno-electron/src/store/preferences.js
Labels: size/M

#2812 Feat/icon tooltip
  packages/bruno-app/src/components/CollectionSettings/ProxySettings/index.js
  packages/bruno-app/src/components/FolderSettings/Vars/VarsTable/index.js
  packages/bruno-app/src/components/InfoTip/index.js
  packages/bruno-app/src/components/Notifications/index.js
  packages/bruno-app/src/components/RequestPane/QueryParams/index.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/RequestPane/Vars/VarsTable/index.js
  packages/bruno-app/src/components/RequestTabs/CollectionToolBar/StyledWrapper.js
  packages/bruno-app/src/components/RequestTabs/CollectionToolBar/index.js
  packages/bruno-app/src/components/ResponsePane/QueryResult/QueryResultFilter/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/index.js
  packages/bruno-app/src/components/ToolHint/StyledWrapper.js
  packages/bruno-app/src/components/ToolHint/index.js
Labels: size/L

#2949 Style: Delete button hidden in Light theme
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/StyledWrapper.js
Labels: size/XS

#812 feat(#736): Switch tabs with keyboard shortcut
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
Labels: size/M

#2139 fix: Issue with Parameters Passed in the URL(#2124)
  packages/bruno-app/src/utils/url/index.js
  packages/bruno-app/src/utils/url/index.spec.js
Labels: pr-bugfix, size/M

#990 Feat(#736): ctrl tab shortcut
  packages/bruno-app/jest.config.js
  packages/bruno-app/src/components/CtrlTabPopup/StyledWrapper.js
  packages/bruno-app/src/components/CtrlTabPopup/index.js
  packages/bruno-app/src/components/CtrlTabPopup/index.spec.js
  packages/bruno-app/src/pages/Bruno/index.js
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
  packages/bruno-app/src/themes/dark.js
  packages/bruno-app/src/themes/light.js
  packages/bruno-app/src/utils/tabs/index.js
Labels: pr-feature, size/L

#2724 fix: option to toggle on/off system proxy env variables
  packages/bruno-app/src/components/CollectionSettings/ProxySettings/index.js
  packages/bruno-app/src/components/Preferences/ProxySettings/StyledWrapper.js
  packages/bruno-app/src/components/Preferences/ProxySettings/index.js
  packages/bruno-app/src/providers/App/useIpcEvents.js
  packages/bruno-app/src/providers/ReduxStore/slices/app.js
  packages/bruno-cli/src/utils/axios-instance.js
  packages/bruno-electron/src/ipc/network/axios-instance.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/preferences.js
  packages/bruno-electron/src/store/preferences.js
Labels: size/XL
