Repository usebruno/bruno, pull requests merged in 2024-06, with the labels that each got.

#1792 fix: add authorization token to generate code
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/index.js
  packages/bruno-app/src/utils/codegenerator/auth.js
Labels: pr-feature

#2485 add decomment step in a try catch block
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
Labels: pr-bugfix

#2140 fix(#1912) Refactor countRequests function to use getTotalRequestCountInCollection in CollectionSettings/Info/index.js
  packages/bruno-app/src/components/CollectionSettings/Info/index.js
Labels: pr-bugfix

#2415 Feat/highlight path params
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/SingleLineEditor/index.js
  packages/bruno-app/src/utils/codemirror/brunoVarInfo.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/common/codemirror.js
Labels: pr-qol

#2484 Fix/graphql file load
  packages/bruno-app/src/components/RequestPane/GraphQLSchemaActions/useGraphqlSchema.js
  packages/bruno-electron/src/ipc/collection.js
Labels: pr-bugfix

#2482 Feat/client cert types
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/src/ipc/network/index.js
Labels: pr-feature

#2479 update interpolate function in bruno js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/package.json
  packages/bruno-js/src/bru.js
  packages/bruno-js/src/interpolate-string.js
  packages/bruno-js/src/runtime/assert-runtime.js
Labels: pr-refactor
