Repository usebruno/bruno, pull requests merged in 2024-09, with the labels that each got.

#3008 fix: multipart timeline
  packages/bruno-app/src/components/ResponsePane/Timeline/index.js
Labels: size/XS

#3011 fix: openapi collection import to not add protocol by default
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/XS

#2951 feat: Store cookies received in Runner execution
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/M

#674 Remove mustache.js
  package-lock.json
  packages/bruno-cli/package.json
  packages/bruno-cli/src/utils/bru.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/S

#2267 feat(#2265): Support GraphQL variables formatting
  packages/bruno-app/src/components/RequestPane/GraphQLVariables/index.js
Labels: pr-feature, size/M

#2641 Feat table resize and reorder
  packages/bruno-app/src/components/ReorderTable/index.js
  packages/bruno-app/src/components/RequestPane/QueryParams/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryParams/index.js
  packages/bruno-app/src/components/Table/StyledWrapper.js
  packages/bruno-app/src/components/Table/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: pr-feature, size/L

#2449 fix: invalid json body mistakenly quoted
  packages/bruno-electron/src/ipc/network/axios-instance.js
Labels: size/S

#3009 Bugfix/openapi import array body
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/S

#2962 added validations for spec and ref
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/XS

#3034 Don't include state in OAuth 2 exchange flow
  packages/bruno-electron/src/ipc/network/oauth2-helper.js
Labels: size/XS

#3046 Added a more descriptive error message on create and clone collection.
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
Labels: size/XS

#3057 Now the special characters in the search value are escaped before constructing the regexp.
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/XS

#2272 feat: display raw query response unformatted for readability
  package-lock.json
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
Labels: size/S

#3044 fix: middle button click to close - SpecialTab and RequestTabNotFound
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
Labels: size/S

#3062 fix: add hints of 'bru' object for 'getFolderVar' and 'getCollectionVar' methods
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/XS

#3078 style: added bottom border for `Table` component
  packages/bruno-app/src/components/Table/StyledWrapper.js
Labels: size/XS

#3075 Feature/use focus trap
  packages/bruno-app/src/components/Modal/index.js
  packages/bruno-app/src/hooks/useFocusTrap/index.js
Labels: size/M

#3076 feat: Set response body function
  packages/bruno-js/src/bruno-response.js
Labels: size/XS

#3082 fix: cursor jump to start
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
Labels: size/S

#3087 fix cursor position restoration after `URL` trimming
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
Labels: size/S

#2964 bugfix(#1320):Now the form-url-encoded params in the body can contain multiple values with same name.
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/utils/common.js
  packages/bruno-electron/tests/network/prepare-request.spec.js
Labels: size/M

#2153 Improved the Environments modal with accessibility fixes
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
Labels: pr-qol, size/S

#2979 bugfix/useragent-header
  packages/bruno-cli/src/utils/axios-instance.js
  packages/bruno-electron/src/ipc/network/axios-instance.js
Labels: size/XS

#2991 Support more languages in Generate Code
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/index.js
  packages/bruno-app/src/utils/codegenerator/targets.js
Labels: size/M

#2935 Bugfix/openapispec empty tag
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/S

#2959 Improved Request Count Calculation and UI Handling in RunCollectionItem
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RunCollectionItem/index.js
Labels: size/M

#1166 Refactor: Extract CloseTabIcon, DraftTabIcon
  packages/bruno-app/src/components/RequestTabs/RequestTab/CloseTab/CloseTabIcon.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/CloseTab/DraftTabIcon.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/RequestTabNotFound.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/SpecialTab.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
Labels: size/M

#3107 #3067: handle multiple env vars
  packages/bruno-app/src/utils/url/index.js
Labels: size/XS

#1223 feat(#1222): trigger modal's handleConfirm on ENTER key down
  packages/bruno-app/src/components/Modal/index.js
Labels: pr-feature, size/S

#2911 feat: Feature/cli support multiple reporters
  packages/bruno-cli/src/commands/run.js
Labels: size/M

#3123 fix: axios transform request bind
  packages/bruno-electron/src/ipc/network/axios-instance.js
Labels: size/XS

#3122 fix: validate docs links
  packages/bruno-app/src/components/MarkDown/index.jsx
  packages/bruno-electron/src/index.js
Labels: size/S

#3025 Improve how the URL values are transformed in postman export.
  packages/bruno-app/src/utils/exporters/postman-collection.js
  packages/bruno-app/src/utils/exporters/postman-collection.spec.js
Labels: size/L

#3146 Fix: Allow to set custom user agent
  packages/bruno-cli/src/utils/axios-instance.js
  packages/bruno-electron/src/ipc/network/axios-instance.js
Labels: size/S

#3145 feat: add logic to handle saving collection settings on shortcut (preview mode)
  packages/bruno-app/src/providers/Hotkeys/index.js
Labels: size/XS

#3133 feature/useFocusTrap: Support focusable tab cycles in `Modal` (Update of PR #3075)
  packages/bruno-app/src/hooks/useFocusTrap/index.js
Labels: size/M

#3130 fix: accessibility issue in side bar's footer
  packages/bruno-app/src/components/Notifications/index.js
  packages/bruno-app/src/components/Sidebar/TitleBar/index.js
  packages/bruno-app/src/components/Sidebar/index.js
Labels: size/L

#2478 Feat/api key auth
  packages/bruno-app/src/components/CollectionSettings/Auth/ApiKeyAuth/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Auth/ApiKeyAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/AuthMode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/ApiKeyAuth/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Auth/ApiKeyAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/AuthMode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/exporters/postman-collection.js
  packages/bruno-app/src/utils/importers/postman-collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/collectionBruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/src/jsonToCollectionBru.js
  packages/bruno-schema/src/collections/index.js
Labels: pr-feature, size/XL

#3099 added generate code button in query url bar to increase its visibility
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
Labels: size/M

#3155 fix: stringify response data for query result view
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
Labels: size/XS

#3168 Fix application/xml import issue for insomnia
  packages/bruno-app/src/utils/importers/insomnia-collection.js
Labels: size/XS

#3170 feat: preferences modal restructure
  packages/bruno-app/src/components/Preferences/Display/Font/StyledWrapper.js
  packages/bruno-app/src/components/Preferences/Display/Font/index.js
  packages/bruno-app/src/components/Preferences/Display/Theme/StyledWrapper.js
  packages/bruno-app/src/components/Preferences/Display/Theme/index.js
  packages/bruno-app/src/components/Preferences/Display/index.js
  packages/bruno-app/src/components/Preferences/General/index.js
  packages/bruno-app/src/components/Preferences/ProxySettings/index.js
  packages/bruno-app/src/components/Preferences/StyledWrapper.js
  packages/bruno-app/src/components/Preferences/index.js
Labels: size/M

#2445 bugfix(#2431) Refactor URL construction in Postman collection processing
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: pr-bugfix, size/M

#3142 fix: multipart/form-data body interpolation
  packages/bruno-cli/src/runner/interpolate-vars.js
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-cli/src/utils/common.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-tests/collection/bruno.json
  packages/bruno-tests/collection/bruno.png
  packages/bruno-tests/collection/echo/echo form-url-encoded.bru
  packages/bruno-tests/collection/echo/echo multipart scripting.bru
  packages/bruno-tests/collection/echo/echo multipart.bru
  packages/bruno-tests/collection/environments/Prod.bru
Labels: size/L

#3176 fix: runner results response preview
  packages/bruno-app/src/components/RunnerResults/ResponsePane/index.js
Labels: size/XS

#3175 fix: response pane stop watch
  packages/bruno-app/src/components/StopWatch/index.js
Labels: size/S

#3174 fix: close saved tabs button issue
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
Labels: size/XS

#3172 Improved Feat/wsse auth
  package-lock.json
  packages/bruno-app/src/components/CollectionSettings/Auth/AuthMode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/WsseAuth/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Auth/WsseAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/AuthMode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/WsseAuth/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Auth/WsseAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/collectionBruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/src/jsonToCollectionBru.js
  packages/bruno-lang/v2/tests/fixtures/collection.bru
  packages/bruno-lang/v2/tests/fixtures/collection.json
  packages/bruno-lang/v2/tests/fixtures/request.bru
  packages/bruno-lang/v2/tests/fixtures/request.json
  packages/bruno-schema/src/collections/index.js
  packages/bruno-tests/src/auth/index.js
  packages/bruno-tests/src/auth/wsse.js
Labels: size/L

#3173 Enhancement: Accessibility issues on the Welcome page
  packages/bruno-app/src/components/Welcome/index.js
Labels: size/M

#3183 Bugfix/openapi ensure url
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/XS

#1288 feature(code-export): add support to grapqhl
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/utils/codegenerator/har.js
Labels: size/S

#3190 Conditionally render generate-code button only if the request.type is 'http-request' or 'graphql-request'
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
Labels: size/XS

#3192 Bugfix/rename request open tab not found
  packages/bruno-electron/src/ipc/collection.js
Labels: size/XS

#3171 Bugfix/rename with same name
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/M

#3065 Fix #2760: Path params trailing slash
  packages/bruno-cli/src/runner/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
Labels: size/XS

#3200 feat: request execution mode
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-request.js
Labels: size/S

#3199 Bugfix/rename with same name for `Environments`
  packages/bruno-app/src/components/Environments/EnvironmentSettings/RenameEnvironment/index.js
  packages/bruno-electron/src/ipc/collection.js
Labels: size/XS

#3208 Refactor CodeMirror styling to remove glow outline around folded JSON
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
Labels: size/XS

#3226 feat: restrict access to system process env vars
  packages/bruno-electron/src/app/watcher.js
Labels: size/XS

#3215 feat: ui-state-snapshot
  packages/bruno-app/src/providers/App/useIpcEvents.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/store/ui-state-snapshot.js
Labels: size/L

#3212 fix: interpolate json body for type object -- graphql variables
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
Labels: size/XS

#3227 bugfix: Cursor jump on Query Params
  packages/bruno-app/src/components/ReorderTable/index.js
Labels: size/S

#3204 Added Keybindings tab.
  packages/bruno-app/src/components/Preferences/Keybindings/StyledWrapper.js
  packages/bruno-app/src/components/Preferences/Keybindings/index.js
  packages/bruno-app/src/components/Preferences/index.js
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/providers/Hotkeys/keyMappings.js
Labels: size/L
