Repository usebruno/bruno, pull requests merged in 2025-06, with the labels that each got.

#4750 Tests for responseSize component
  package-lock.json
  packages/bruno-app/babel.config.js
  packages/bruno-app/jest.config.js
  packages/bruno-app/package.json
  packages/bruno-app/src/components/ResponsePane/ResponseSize/ResponseSize.spec.js
Labels: size/L

#4837 feat(dev): enhance hot reload development setup
  package.json
  packages/bruno-graphql-docs/package.json
  packages/bruno-query/package.json
  packages/bruno-requests/package.json
  scripts/dev-hot-reload.js
Labels: size/L

#4878 add: pre and post tests in runner
  packages/bruno-app/src/components/RunnerResults/index.jsx
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/L

#4758 Added Hindi translation of Readme file
  docs/readme/readme_hi.md
Labels: size/L

#4867 feat: `bru.sendRequest` api
  package-lock.json
  packages/bruno-converters/src/utils/jscode-shift-translator.js
  packages/bruno-converters/src/utils/send-request-transformer.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/transformers/send-request.test.js
  packages/bruno-js/src/bru.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/utils.js
  packages/bruno-requests/package.json
  packages/bruno-requests/src/index.ts
  packages/bruno-requests/src/network/axios-instance.ts
  packages/bruno-requests/src/network/index.ts
  packages/bruno-requests/src/scripting/index.ts
  packages/bruno-requests/src/scripting/send-request.ts
  packages/bruno-tests/collection/scripting/api/bru/send-request/folder.bru
  packages/bruno-tests/collection/scripting/api/bru/send-request/get-url-string.bru
  packages/bruno-tests/collection/scripting/api/bru/send-request/usage-patterns.bru
Labels: size/XXL

#4908 feat(cli): add support for environment file input in run command
  packages/bruno-cli/src/commands/run.js
Labels: size/S

#4906 add await keyword to the translated bru.sendRequest function calls
  packages/bruno-converters/src/utils/send-request-transformer.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/transformers/send-request.test.js
  packages/bruno-requests/src/network/axios-instance.ts
Labels: size/L

#4859 Update Spanish contribution guide for clarity and accuracy
  docs/contributing/contributing_es.md
Labels: size/L

#1037 docs(#1036): Update linux installation instructions via apt
  docs/readme/readme_ar.md
  docs/readme/readme_bn.md
  docs/readme/readme_cn.md
  docs/readme/readme_de.md
  docs/readme/readme_es.md
  docs/readme/readme_fr.md
  docs/readme/readme_it.md
  docs/readme/readme_ja.md
  docs/readme/readme_kr.md
  docs/readme/readme_pl.md
  docs/readme/readme_pt_br.md
  docs/readme/readme_ro.md
  docs/readme/readme_tr.md
  docs/readme/readme_zhtw.md
  readme.md
Labels: size/L
