Repository usebruno/bruno, pull requests merged in 2025-05, with the labels that each got.

#4595 feat: folder sequencing
  package-lock.json
  packages/bruno-app/src/components/CollectionSettings/Overview/Info/index.js
  packages/bruno-app/src/components/FolderSettings/index.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/RequestTabs/index.js
  packages/bruno-app/src/components/ShareCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/DeleteCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RunCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/RemoveCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/RenameCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/selectors/tab.js
  packages/bruno-app/src/themes/dark.js
  packages/bruno-app/src/themes/light.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/tests/collections/items-sequencing.spec.js
  packages/bruno-converters/src/postman/postman-to-bruno.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-to-bruno.spec.js
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/bru/index.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/utils/collection.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-electron/src/utils/tests/filesystem/index.spec.js
  packages/bruno-electron/src/utils/tests/fixtures/filesystem/copypath-removepath.js
  packages/bruno-schema/src/collections/index.js
Labels: size/XXL

#4611 persist request/folder uids after request/folder resequencing and ui updates
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemDragPreview/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemDragPreview/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/L

#4613 Fix: ResponseSize component logic to handle size when it's undefined
  packages/bruno-app/src/components/ResponsePane/ResponseSize/index.js
  packages/bruno-app/src/components/ResponsePane/index.js
Labels: size/S

#4373 Fix: Leading dot is not allowed for collections, folders and requests
  packages/bruno-app/src/utils/common/regex.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/S

#4542 fix: app crash when we rename folder in fs
  packages/bruno-app/src/components/RequestTabPanel/FolderNotFound/index.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
Labels: size/M

#4589 feat: support tv4 as a inbuilt lib
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/sandbox/bundle-libraries.js
  packages/bruno-tests/collection/scripting/inbuilt modules/tv4/folder.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/tv4/tv4.bru
Labels: size/M

#4617 update T_RunnerResults type to include summary prop
  packages/bruno-common/src/runner/reports/html/generate-report.ts
  packages/bruno-common/src/runner/types/index.ts
Labels: size/XS

#4620 fix: tests for sanitizeName function
  packages/bruno-app/src/utils/common/regex.spec.js
  packages/bruno-electron/src/utils/filesystem.test.js
Labels: size/S

#4622 `eslint` for `bruno-app` and `bruno-electron` packages
  .husky/pre-commit
  eslint.config.js
  package-lock.json
  package.json
Labels: size/M

#4623 fix: handle undeclared vars in bruno-app and bruno-electron packages
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/Oauth2TokenViewer/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
  packages/bruno-app/src/utils/codemirror/javascript-lint.js
  packages/bruno-app/src/utils/common/cache.js
  packages/bruno-app/src/utils/common/index.js
Labels: size/M

#4615 Feat: add openapi to bruno import in cli
  package-lock.json
  packages/bruno-cli/package.json
  packages/bruno-cli/readme.md
  packages/bruno-cli/src/commands/import.js
  packages/bruno-cli/src/utils/collection.js
  packages/bruno-cli/src/utils/filesystem.js
Labels: size/L

#4534 Feature: postman to bru translator
  .gitignore
  package-lock.json
  packages/bruno-app/rsbuild.config.mjs
  packages/bruno-app/src/components/Sidebar/ImportCollection/index.js
  packages/bruno-app/src/utils/importers/postman-collection.js
  packages/bruno-converters/package.json
  packages/bruno-converters/rollup.config.js
  packages/bruno-converters/src/common/index.js
  packages/bruno-converters/src/index.js
  packages/bruno-converters/src/postman/postman-to-bruno.js
  packages/bruno-converters/src/postman/postman-translations.js
  packages/bruno-converters/src/utils/jscode-shift-translator.js
  packages/bruno-converters/src/workers/postman-translator-worker.js
  packages/bruno-converters/src/workers/scripts/translate-postman-scripts.js
  packages/bruno-converters/tests/postman/postman-to-bruno/collection-auth.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/folder-auth.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-to-bruno.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-translations/postman-response.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/request-auth.spec.js
  packages/bruno-converters/tests/postman/postman-translations/postman-comments.spec.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/combined.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/environment.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/exec-flow.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/legacy-tests-syntax.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/multiline-syntax.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/postman-references.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/request.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/response.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/scoped-variables.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/testing-framework.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/variable-chaining.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/variables.test.js
  packages/bruno-converters/tests/utils/getMemberExpressionString.test.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-tests/collection/bruno.json
  packages/bruno-tests/collection/echo/echo headers.bru
Labels: size/XXL

#4618 feat/replace unsupported characters in env key during pm import
  packages/bruno-converters/src/constants/index.js
  packages/bruno-converters/src/constants/regex.js
  packages/bruno-converters/src/postman/postman-env-to-bruno-env.js
  packages/bruno-converters/src/postman/postman-to-bruno.js
Labels: size/S

#4593 fix: Improve Variable Highlighting in Code Generation and Environment…
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/CodeView/index.js
Labels: size/S

#4640 removed unused collectionPathnmae prop to components
  packages/bruno-app/src/components/CollectionSettings/Overview/Info/index.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/RequestTabs/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
Labels: size/M

#4637 Fix/add missing translations
  package-lock.json
  packages/bruno-converters/src/postman/postman-translations.js
  packages/bruno-converters/src/utils/jscode-shift-translator.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/combined.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/legacy-tests-syntax.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/response.test.js
  packages/bruno-converters/tests/postman/postman-translations/transpiler-tests/variables.test.js
Labels: size/L

#4636 Adding build instructions for new packages
  contributing.md
  docs/contributing/contributing_hi.md
  docs/contributing/contributing_ja.md
  docs/contributing/contributing_kr.md
  docs/contributing/contributing_nl.md
  docs/contributing/contributing_sk.md
Labels: size/S

#4571 feat: extend cli auth for inherit and request
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/tests/runner/prepare-request.spec.js
Labels: size/L

#4651 Playwright Codegen and CI setup
  .github/workflows/playwright.yml
  .gitignore
  e2e-tests/test-app-start.spec.ts
  package-lock.json
  package.json
  playwright.config.js
  playwright.config.ts
  playwright/codegen.ts
  playwright/electron.ts
  playwright/index.ts
  scripts/playwright-codegen.js
  tests/home.spec.js
  tests/pages/home.page.js
  tests/utils/data-faker.js
Labels: size/L

#4656 Fix: Specify Node.js version in Contributing Guide
  contributing.md
Labels: size/XS

#4540 Create/Import collection UX improvements
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/ImportCollectionLocation/index.js
  packages/bruno-app/src/components/Sidebar/TitleBar/index.js
  packages/bruno-app/src/providers/Toaster/index.js
  packages/bruno-app/src/utils/common/error.js
  packages/bruno-app/src/utils/common/index.js
Labels: size/M

#4666 Updating contributing.md
  contributing.md
Labels: size/M

#4665 fix: eslint - javascript heap out of memory
  package.json
Labels: size/XS

#4667 Customize Playwright reporter and retries for dev and CI env
  playwright.config.ts
Labels: size/S

#4671 add lint step to the unit-tests gh workflow
  .github/workflows/tests.yml
  .husky/pre-commit
  package-lock.json
  package.json
Labels: size/S

#4160 Added option to customize `userData` path on dev mode
  contributing.md
  packages/bruno-electron/src/index.js
Labels: size/S

#4697 fix: bruno converters test for reg.getName()
  packages/bruno-converters/src/utils/jscode-shift-translator.js
Labels: size/XS

#4706 Playwright: Support Element Verification
  e2e-tests/preferences/verify-support-links-in-preferences.spec.js
Labels: size/S

#4796 fix: collection auth default value access fix and validations
  packages/bruno-app/src/components/CollectionSettings/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/index.js
  packages/bruno-lang/v2/src/collectionBruToJson.js
Labels: size/XS
