Repository usebruno/bruno, pull requests merged in 2025-02, with the labels that each got.

#3895 fix: resolve function recusion
  packages/bruno-app/src/utils/importers/openapi-collection.js
Labels: size/M

#3911 fix: ensure API key values are converted to strings in Postman collec…
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/XS

#3734 feat: raw binary files handling in request body
  packages/bruno-app/src/components/FilePickerEditor/index.js
  packages/bruno-app/src/components/RequestPane/Binary/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Binary/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/codegenerator/har.js
  packages/bruno-app/src/utils/collections/export.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-app/src/utils/curl/curl-to-json.spec.js
  packages/bruno-app/src/utils/curl/index.js
  packages/bruno-app/src/utils/importers/common.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/tests/fixtures/request.bru
  packages/bruno-lang/v2/tests/fixtures/request.json
  packages/bruno-schema/src/collections/index.js
  packages/bruno-tests/collection/binaryFile/binary-file-types.bru
  packages/bruno-tests/collection/binaryFile/binary-file.json
Labels: size/XL

#3935 Fix: Update variable for `clone-collection`
  packages/bruno-electron/src/ipc/collection.js
Labels: size/XS

#3933 refactor: rename `binaryFile` to `file` and update related references
  packages/bruno-app/src/components/RequestPane/FileBody/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/FileBody/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/codegenerator/har.js
  packages/bruno-app/src/utils/collections/export.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/curl/curl-to-json.spec.js
  packages/bruno-app/src/utils/curl/index.js
  packages/bruno-app/src/utils/importers/common.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/utils/collection.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/tests/fixtures/request.bru
  packages/bruno-lang/v2/tests/fixtures/request.json
  packages/bruno-schema/src/collections/index.js
  packages/bruno-tests/collection/binaryFile/binary-file-types.bru
  packages/bruno-tests/collection/binaryFile/binary-file.json
  packages/bruno-tests/collection/echo/echo file body/echo file body.bru
  packages/bruno-tests/collection/echo/echo file body/echo image file body.bru
  packages/bruno-tests/collection/echo/echo file body/echo json file body.bru
  packages/bruno-tests/collection/echo/echo file body/echo text file body.bru
  packages/bruno-tests/collection/echo/multiline/echo binary.bru
  packages/bruno-tests/collection/file.txt
Labels: size/L

#3936 fix tests - skipped requests should not be considered as errors in junit reports
  packages/bruno-cli/src/reporters/junit.js
Labels: size/XS

#3947 oauth2 improvements
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/importers/postman-collection.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/request.js
Labels: size/L

#3831 Feature: Replaceable tab management system
  packages/bruno-app/src/components/RequestTabs/RequestTab/SpecialTab.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/providers/ReduxStore/index.js
  packages/bruno-app/src/providers/ReduxStore/middlewares/draft/middleware.js
  packages/bruno-app/src/providers/ReduxStore/middlewares/draft/utils.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
  packages/bruno-app/src/utils/tabs/index.js
Labels: size/L

#3833 fix:handle render svg response
  packages/bruno-app/src/utils/common/codemirror.js
  packages/bruno-app/src/utils/common/index.js
Labels: size/XS

#3957 refactor: update browseFiles action to remove default properties and improve file dialog handling
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/XS

#3961 fix worker lane logic
  packages/bruno-electron/src/bru/workers/index.js
Labels: size/XS

#3969 Fix: Import failing for collections with special characters in Windows
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/filesystem.js
Labels: size/S

#3970 add: translation for skipRequest and stopExecution
  packages/bruno-app/src/utils/importers/translators/postman_translation.js
Labels: size/XS

#3976 feat(#2896): add support for cheerio and xml2json as inbuilt library
  package-lock.json
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-tests/collection/ping-another-one.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/cheerio/cheerio.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/xml2js/xml2js.bru
Labels: size/L

#3755 Feat: Move-Collection with Drag-and-Drop
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/index.js
  packages/bruno-app/src/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/store/last-opened-collections.js
Labels: size/L

#3983 fix graphql variables editor and tests editor height while editing
  package-lock.json
  packages/bruno-app/src/components/RequestPane/GraphQLRequestPane/index.js
  packages/bruno-app/src/components/RequestPane/GraphQLVariables/index.js
  packages/bruno-app/src/components/RequestPane/Tests/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Tests/index.js
Labels: size/M

#3979 Fix: Postman-import-translation not adding comments for unsupported APIs
  packages/bruno-app/src/utils/importers/translators/postman_translation.js
Labels: size/XS

#3987 Fix: Prevent interpolation of buffer values in JSON requests
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
Labels: size/XS

#3993 Fix: CLI-Tests Workflow lacks contents:read permission
  .github/workflows/tests.yml
Labels: size/XS

#3998 should be able to save the request after reverting the changes
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/XS

#3999 fix: should be able to save the request after reverting the changes
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/XS

#3956 Styling improvements in failed-load-request summary
  packages/bruno-app/src/components/RequestTabPanel/RequestNotLoaded/index.js
Labels: size/M

#3925 Fix: Handle Unsupported Custom HTTP Methods in Postman Collection Import
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/XS

#4032 Fix: space on collection docs editor
  packages/bruno-app/src/components/CollectionSettings/Docs/StyledWrapper.js
Labels: size/XS

#4030 feat: notification visibility rules based on semver
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/Notifications/index.js
  packages/bruno-app/src/components/Sidebar/index.js
  packages/bruno-app/src/providers/App/index.js
  packages/bruno-app/src/providers/App/useTelemetry.js
  packages/bruno-app/src/providers/ReduxStore/slices/notifications.js
  packages/bruno-app/src/providers/ReduxStore/slices/notifications.spec.js
Labels: size/L

#4036 fix: allow popus in notification iframes
  packages/bruno-app/src/components/Notifications/index.js
Labels: size/XS

#4054 reuse worker threads for bru file parsing
  packages/bruno-app/src/components/CollectionSettings/Overview/Info/index.js
  packages/bruno-app/src/components/CollectionSettings/Overview/RequestsNotLoaded/index.js
  packages/bruno-app/src/components/RequestTabPanel/RequestNotLoaded/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/bru/workers/scripts/bru-to-json.js
  packages/bruno-electron/src/bru/workers/scripts/json-to-bru.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/workers/index.js
Labels: size/L

#3974 Update Feature Request Form to capture better detail
  .github/ISSUE_TEMPLATE/FeatureRequest.yaml
Labels: size/S

#3948 chore: update BugReport template to include version and OS information
  .github/ISSUE_TEMPLATE/BugReport.yaml
Labels: size/M

#4107 Update BugReport.yaml
  .github/ISSUE_TEMPLATE/BugReport.yaml
Labels: size/S

#4034 fix: remove duplicate search components
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/S
