Repository usebruno/bruno, pull requests merged in 2025-09, with the labels that each got.

#5328 Update Bruno's Age 🎉
  packages/bruno-common/src/interpolate/index.spec.ts
  packages/bruno-common/src/interpolate/index.ts
  packages/bruno-tests/collection/string interpolation/runtime vars.bru
Labels: size/L

#5455 feat: add WSSE authentication support to gRPC requests
  packages/bruno-app/src/components/RequestPane/GrpcRequestPane/GrpcAuth/GrpcAuthMode/index.js
  packages/bruno-app/src/components/RequestPane/GrpcRequestPane/GrpcAuth/index.js
  packages/bruno-electron/src/ipc/network/grpc-event-handlers.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/tests/prepare-request.test.js
Labels: size/XXL

#4841 feat: custom HTTP method
  package-lock.json
  packages/bruno-app/src/components/RequestPane/QueryUrl/HttpMethodSelector/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/HttpMethodSelector/index.js
  packages/bruno-app/src/components/RequestPane/QueryUrl/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-cli/src/utils/bru.js
  packages/bruno-common/src/index.ts
  packages/bruno-converters/src/postman/postman-to-bruno.js
  packages/bruno-filestore/src/formats/bru/index.ts
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/tests/custom-methods/custom-method.spec.js
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method-with-special-chars.bru
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method-with-special-chars.json
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method-x-custom.bru
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method-x-custom.json
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method.bru
  packages/bruno-lang/v2/tests/custom-methods/fixtures/custom-method.json
  packages/bruno-schema/src/collections/index.js
  packages/bruno-schema/src/collections/requestSchema.spec.js
Labels: size/L

#5481 Add HttpMethodSelector component tests
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/RequestPane/QueryUrl/HttpMethodSelector/index.spec.js
Labels: size/L

#5400 add: global search modal
  packages/bruno-app/src/components/GlobalSearchModal/StyledWrapper.js
  packages/bruno-app/src/components/GlobalSearchModal/constants/index.js
  packages/bruno-app/src/components/GlobalSearchModal/index.js
  packages/bruno-app/src/components/GlobalSearchModal/utils/searchUtils.js
  packages/bruno-app/src/components/StatusBar/index.js
  packages/bruno-app/src/components/Welcome/StyledWrapper.js
  packages/bruno-app/src/components/Welcome/index.js
  packages/bruno-app/src/i18n/translation/en.json
  packages/bruno-app/src/providers/Hotkeys/index.js
  packages/bruno-app/src/providers/Hotkeys/keyMappings.js
Labels: size/XXL

#5487 add: playwright test for import collection modal
  e2e-tests/import-tests/bruno/001-import-bruno-testbench.spec.ts
  e2e-tests/import-tests/bruno/002-import-bruno-corrupted-fails.spec.ts
  e2e-tests/import-tests/bruno/003-import-bruno-missing-required-schema.spec.ts
  e2e-tests/import-tests/file-types/001-file-input-acceptance.spec.ts
  e2e-tests/import-tests/file-types/002-invalid-file-handling.spec.ts
  e2e-tests/import-tests/insomnia/001-import-insomnia-v4.spec.ts
  e2e-tests/import-tests/insomnia/002-import-insomnia-v5.spec.ts
  e2e-tests/import-tests/insomnia/003-invalid-missing-collection.spec.ts
  e2e-tests/import-tests/insomnia/004-malformed-structure.spec.ts
  e2e-tests/import-tests/openapi/001-import-openapi-yaml.spec.ts
  e2e-tests/import-tests/openapi/002-import-openapi-json.spec.ts
  e2e-tests/import-tests/openapi/003-missing-info.spec.ts
  e2e-tests/import-tests/openapi/004-malformed-yaml.spec.ts
  e2e-tests/import-tests/postman/001-import-postman-v21.spec.ts
  e2e-tests/import-tests/postman/002-import-postman-v20.spec.ts
  e2e-tests/import-tests/postman/003-invalid-missing-info.spec.ts
  e2e-tests/import-tests/postman/004-invalid-schema.spec.ts
  e2e-tests/import-tests/postman/005-malformed-structure.spec.ts
  e2e-tests/import-tests/postman/006-invalid-json.spec.ts
  e2e-tests/import-tests/test-data/bruno-invalid-corrupted.json
  e2e-tests/import-tests/test-data/bruno-malformed.json
  e2e-tests/import-tests/test-data/bruno-missing-required-fields.json
  e2e-tests/import-tests/test-data/bruno-testbench.json
  e2e-tests/import-tests/test-data/empty-file.json
  e2e-tests/import-tests/test-data/insomnia-malformed.json
  e2e-tests/import-tests/test-data/insomnia-v4.json
  e2e-tests/import-tests/test-data/insomnia-v5-invalid-missing-collection.yaml
  e2e-tests/import-tests/test-data/insomnia-v5.yaml
  e2e-tests/import-tests/test-data/invalid-json.json
  e2e-tests/import-tests/test-data/invalid.txt
  e2e-tests/import-tests/test-data/openapi-comprehensive.yaml
  e2e-tests/import-tests/test-data/openapi-invalid-version.yaml
  e2e-tests/import-tests/test-data/openapi-malformed.yaml
  e2e-tests/import-tests/test-data/openapi-missing-info.yaml
  e2e-tests/import-tests/test-data/openapi-simple.json
  e2e-tests/import-tests/test-data/postman-invalid-missing-info.json
  e2e-tests/import-tests/test-data/postman-invalid-schema.json
  e2e-tests/import-tests/test-data/postman-malformed.json
  e2e-tests/import-tests/test-data/postman-v20.json
  e2e-tests/import-tests/test-data/postman-v21.json
  packages/bruno-app/src/components/Modal/index.js
  packages/bruno-app/src/components/Sidebar/TitleBar/index.js
Labels: size/XXL

#5491 add: vscode image
  assets/images/vscode-demo.png
Labels: size/XS

#5238 feat: script to calculate locs of repo
  scripts/count-locs.js
Labels: size/L

#5262 Add Playwright testing guide for Bruno application
  docs/playwright-testing-guide.md
Labels: size/L

#5490 Bugfix/global shortcut unfocused
  packages/bruno-electron/src/index.js
Labels: size/S

#5525 Feature: moving requests cross collection
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/collection.js
  tests/collection/moving-requests/cross-collection-drag-drop-folder.spec.ts
  tests/collection/moving-requests/cross-collection-drag-drop-request.spec.ts
Labels: size/L

#5566 fix crypto-js in safe mode
  package-lock.json
  packages/bruno-js/package.json
  packages/bruno-js/src/runtime/test-runtime.js
  packages/bruno-js/src/sandbox/bundle-libraries.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/crypto-utils.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/crypto-utils.spec.js
  packages/bruno-js/src/sandbox/quickjs/shims/lib/utils.js
  packages/bruno-tests/collection/scripting/inbuilt modules/crypto-js/crypto-js-pre-request-script.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/crypto-utils/getRandomValues.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/crypto-utils/randomBytes.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/utils.js
Labels: size/L

#5581 refactor: moved sample collection JSON to resources folder inside bruno-electron and updated electron-builder-config
  packages/bruno-electron/electron-builder-config.js
  packages/bruno-electron/resources/data/sample-collection.json
  packages/bruno-electron/src/app/onboarding.js
  packages/bruno-electron/src/assets/sample-collection.json
Labels: size/L

#5598 fix: env name overflow
  packages/bruno-app/src/components/Environments/EnvironmentSelector/index.js
Labels: size/XS

#5625 fix: Add null safety checks in GlobalSearchModal
  packages/bruno-app/src/components/GlobalSearchModal/index.js
Labels: size/XS

#5615 Support for Odata style path params
  eslint.config.js
  packages/bruno-app/src/utils/url/index.js
  packages/bruno-app/src/utils/url/index.spec.js
  packages/bruno-cli/src/runner/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/tests/network/interpolate-vars.spec.js
  packages/bruno-tests/src/echo/index.js
  tests/interpolation/collection/bruno.json
  tests/interpolation/collection/echo-request-odata.bru
  tests/interpolation/collection/echo-request-url.bru
  tests/interpolation/init-user-data/collection-security.json
  tests/interpolation/init-user-data/preferences.json
  tests/interpolation/interpolate-request-url.spec.ts
Labels: size/L

#5617 fix: update preferences saving method in preferences utility
  packages/bruno-electron/src/app/onboarding.js
  packages/bruno-electron/src/store/preferences.js
Labels: size/S

#5427 feat: add support for file body mode in bruno-cli
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-cli/tests/runner/prepare-request.spec.js
Labels: size/L

#4492 Feature: Add collapse full collection feature
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/S

#5635 add: system monitor
  package-lock.json
  packages/bruno-app/src/components/Devtools/Console/index.js
  packages/bruno-app/src/components/Devtools/Performance/StyledWrapper.js
  packages/bruno-app/src/components/Devtools/Performance/index.js
  packages/bruno-app/src/providers/App/useIpcEvents.js
  packages/bruno-app/src/providers/ReduxStore/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/performance.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/app/system-monitor.js
  packages/bruno-electron/src/index.js
Labels: size/L

#5669 feat: add draggable tabs component
  packages/bruno-app/src/components/RequestTabs/DraggableTab.js
  packages/bruno-app/src/components/RequestTabs/index.js
Labels: size/L

#5637 fix: improve file upload handling in prepare-request to use streaming
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/src/utils/filesystem.js
  packages/bruno-cli/tests/runner/prepare-request.spec.js
  packages/bruno-cli/tests/utils/filesystem.spec.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-electron/src/utils/filesystem.test.js
Labels: size/L

#5616 feat: Enhance EnvironmentVariables component with read-only support for non-string values
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
  packages/bruno-app/src/components/MultiLineEditor/StyledWrapper.js
  packages/bruno-app/src/components/MultiLineEditor/index.js
  packages/bruno-schema/src/collections/index.js
  tests/collection/create/create-collection.spec.ts
  tests/collection/moving-requests/cross-collection-drag-drop-folder.spec.ts
  tests/collection/moving-requests/cross-collection-drag-drop-request.spec.ts
  tests/collection/moving-requests/tag-persistence.spec.ts
  tests/collection/open/open-multiple-collections.spec.ts
  tests/global-environments/collection/bruno.json
  tests/global-environments/collection/set-global-nonstring.bru
  tests/global-environments/init-user-data/preferences.json
  tests/global-environments/non-string-values.spec.ts
  tests/utils/page/actions.ts
Labels: size/L
