Repository usebruno/bruno, pull requests merged in 2025-01, with the labels that each got.

#3310 Refactor/ Implement Focusable Buttons in the Generate Code Modal
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/GenerateCodeItem/index.js
Labels: size/M

#3745 fix: collection/folder docs when importing postman collection
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/XS

#3750 Added `Redux DevTools` and `React Developer Tools` in dev build
  package-lock.json
  packages/bruno-electron/package.json
  packages/bruno-electron/src/index.js
Labels: size/S

#3757 fix: file input element - replace the deprecated path prop
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
  packages/bruno-app/src/components/Preferences/General/index.js
  packages/bruno-electron/src/preload.js
Labels: size/S

#3759 fix: remove redundant error logging in JSON parsing
  packages/bruno-cli/src/utils/common.js
Labels: size/XS

#3760 fix: cli -- collection run -- clone request item at start
  packages/bruno-cli/src/commands/run.js
Labels: size/XS

#3767 fix: cli - added the missing iconv-lite import and removed other unused imports
  package-lock.json
  packages/bruno-cli/package.json
  packages/bruno-cli/src/utils/common.js
Labels: size/XS

#2982 Order Variables alphabetically
  packages/bruno-app/src/components/VariablesEditor/index.js
Labels: size/XS, compatibility

#3329 Feature/ntlm auth
  packages/bruno-app/src/components/CollectionSettings/Auth/AuthMode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/NTLMAuth/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Auth/NTLMAuth/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/AuthMode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/NTLMAuth/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Auth/NTLMAuth/index.js
  packages/bruno-app/src/components/RequestPane/Auth/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-cli/package.json
  packages/bruno-cli/src/runner/interpolate-vars.js
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/package.json
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/collectionBruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/src/jsonToCollectionBru.js
  packages/bruno-schema/src/collections/index.js
Labels: size/L

#3616 feat: Add an npm script to run the Electron app for debugging
  package.json
  packages/bruno-electron/package.json
Labels: size/XS

#3812 fix: Request vars displayed in red color in body even if they are valid
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/index.js
Labels: size/XS

#3803 fix: body formurl value disappearing
  packages/bruno-app/src/components/MultiLineEditor/StyledWrapper.js
Labels: size/XS

#3735 fix: renaming first collection env
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/index.js
Labels: size/XS

#3801 Allow rearrangement of table items in params, body, vars, headers, etc…
  packages/bruno-app/src/components/RequestPane/Assertions/AssertionRow/index.js
  packages/bruno-app/src/components/RequestPane/Assertions/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Assertions/index.js
  packages/bruno-app/src/components/RequestPane/FormUrlEncodedParams/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/FormUrlEncodedParams/index.js
  packages/bruno-app/src/components/RequestPane/MultipartFormParams/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/MultipartFormParams/index.js
  packages/bruno-app/src/components/RequestPane/QueryParams/index.js
  packages/bruno-app/src/components/RequestPane/RequestHeaders/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/RequestHeaders/index.js
  packages/bruno-app/src/components/RequestPane/Vars/VarsTable/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Vars/VarsTable/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/XL

#3804 Fix: Path table is removed when we rearrange items
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/S

#3742 add: document save button for folder and collection settings
  packages/bruno-app/src/components/CollectionSettings/Docs/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Docs/index.js
  packages/bruno-app/src/components/FolderSettings/Documentation/index.js
Labels: size/M

#3819 feat: add rspack dynamic import configuration to rsbuild
  packages/bruno-app/rsbuild.config.mjs
Labels: size/S

#1531 Added activate button to environment window.
  packages/bruno-app/src/components/Environments/EnvironmentSettings/EnvironmentList/EnvironmentDetails/EnvironmentVariables/index.js
Labels: size/S

#3826 Fix: hide environment dropdown on configure
  packages/bruno-app/src/components/Environments/EnvironmentSelector/index.js
Labels: size/XS

#3814 Fix: Horizontal Rules missing in markdown docs preview
  packages/bruno-app/src/components/MarkDown/StyledWrapper.js
Labels: size/XS

#3813 Moved collection click area from name to div
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
Labels: size/XS

#3830 Fix: Import collection modal closes when click on ENTER
  packages/bruno-app/src/components/Modal/index.js
  packages/bruno-app/src/components/Sidebar/ImportCollection/index.js
Labels: size/XS

#3512 fix: Inherited apikey auth mapping for bruno-cli
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-cli/tests/runner/prepare-request.spec.js
Labels: size/L

#3841 ntlm auth complement
  packages/bruno-cli/src/runner/run-single-request.js
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/XS

#2077 feat: Improvements to OAuth2-related user interface
  packages/bruno-app/src/components/CollectionSettings/Auth/AuthMode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/CollectionSettings/Auth/OAuth2/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/AuthorizationCode/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/ClientCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/CredentialsPreview/StyledWrapper.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/CredentialsPreview/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/PasswordCredentials/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/index.js
  packages/bruno-app/src/components/RequestPane/Auth/index.js
  packages/bruno-app/src/utils/network/index.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
  packages/bruno-electron/src/ipc/network/oauth2-helper.js
  packages/bruno-electron/src/ipc/network/prepare-collection-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-electron/src/store/oauth2.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-request.js
Labels: size/L

#3834 async bru file parsing based on request/collection size
  packages/bruno-app/src/components/CollectionSettings/Docs/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Docs/index.js
  packages/bruno-app/src/components/CollectionSettings/Info/index.js
  packages/bruno-app/src/components/CollectionSettings/Overview/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/Overview/index.js
  packages/bruno-app/src/components/CollectionSettings/StyledWrapper.js
  packages/bruno-app/src/components/CollectionSettings/index.js
  packages/bruno-app/src/components/Documentation/StyledWrapper.js
  packages/bruno-app/src/components/RequestTabPanel/RequestIsLoading/index.js
  packages/bruno-app/src/components/RequestTabPanel/RequestNotLoaded/index.js
  packages/bruno-app/src/components/RequestTabPanel/StyledWrapper.js
  packages/bruno-app/src/components/RequestTabPanel/index.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/SpecialTab.js
  packages/bruno-app/src/components/RequestTabs/RequestTab/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemIcon/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemIcon/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/components/Sidebar/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/tabs.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-electron/src/app/collections.js
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/bru/index.js
  packages/bruno-electron/src/bru/workers/index.js
  packages/bruno-electron/src/bru/workers/scripts/bru-to-json.js
  packages/bruno-electron/src/bru/workers/scripts/collection-bru-to-json.js
  packages/bruno-electron/src/bru/workers/scripts/json-to-bru.js
  packages/bruno-electron/src/bru/workers/scripts/json-to-collection-bru.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/collection.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-electron/src/workers/index.js
Labels: size/XXL

#3888 style: update StyledWrapper to use flex layout and adjust dialog posi…
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
Labels: size/XS

#3829 refactor: refined implementation for raw binary files handling (#3734)
  packages/bruno-app/package.json
  packages/bruno-app/src/components/Environments/EnvironmentSelector/index.js
  packages/bruno-app/src/components/FilePickerEditor/index.js
  packages/bruno-app/src/components/MarkDown/StyledWrapper.js
  packages/bruno-app/src/components/Modal/index.js
  packages/bruno-app/src/components/RequestPane/Binary/index.js
  packages/bruno-app/src/components/RequestPane/RequestBody/RequestBodyMode/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
  packages/bruno-app/src/components/Sidebar/ImportCollection/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/codegenerator/har.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/src/jsonToBru.js
  packages/bruno-lang/v2/tests/fixtures/request.bru
  packages/bruno-lang/v2/tests/fixtures/request.json
  packages/bruno-schema/src/collections/index.js
  packages/bruno-tests/collection/echo/multiline/echo binary.bru
  packages/bruno-tests/src/echo/index.js
  packages/bruno-tests/src/index.js
Labels: size/L

#3844 refactor: update GitHub Actions workflow to add permissions for checks and pull requests for the `cli-tests` job
  .github/workflows/tests.yml
Labels: size/XS

#3878 fix: bump axios version to handle ivp6
  package-lock.json
  packages/bruno-electron/package.json
Labels: size/XS

#3710 feat: make `BrunoResponse` callable to access body data using expressions fixes (#481)
  packages/bruno-js/src/bruno-response.js
Labels: size/XS

#3899 upgrade axios library to `1.7.7`
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-cli/package.json
  packages/bruno-js/package.json
  packages/bruno-tests/package.json
Labels: size/XS

#3646 fix: handle Windows paths in cloneItem and getDirectoryName functions (fixes: #3401)
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/common/platform.js
Labels: size/S

#3795 use lowercase header keys while making requests
  packages/bruno-electron/src/utils/collection.js
Labels: size/XS

#3807 Fix: Enable back comment toggling for JSON in request body editor
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/S

#3787 Added a menu-item to show Folder and Requests in native file-browser
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-electron/src/ipc/collection.js
Labels: size/M

#3789 Add an npm-script to run the Electron app with debugging enabled (#3616)
  package.json
  packages/bruno-electron/package.json
Labels: size/XS

#3903 add: hint word for runRequest, sendNextRequest, skipRequest, getTest…
  packages/bruno-app/src/components/CodeEditor/index.js
Labels: size/XS
