Repository usebruno/bruno, pull requests merged in 2025-10, with the labels that each got.

#5682 fix: update interpolate-request-url.spec.ts test flow
  tests/interpolation/interpolate-request-url.spec.ts
Labels: size/S

#5690 adding req getTags methods
  packages/bruno-app/src/utils/codemirror/autocomplete.js
  packages/bruno-cli/src/runner/prepare-request.js
  packages/bruno-electron/src/ipc/network/prepare-request.js
  packages/bruno-js/src/bruno-request.js
  packages/bruno-js/src/sandbox/quickjs/shims/bruno-request.js
  packages/bruno-tests/collection/scripting/api/req/getTags.bru
Labels: size/M

#5698 fix: Show active global environment in config modal
  packages/bruno-app/src/components/Environments/EnvironmentSelector/EnvironmentListContent/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSelector/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/index.js
  packages/bruno-app/src/components/ToolHint/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/global-environments.js
  tests/environments/collection-env-config-selection/collection-env-config-selection.spec.ts
  tests/environments/collection-env-config-selection/collection/bruno.json
  tests/environments/collection-env-config-selection/collection/environments/dev.bru
  tests/environments/collection-env-config-selection/collection/environments/prod.bru
  tests/environments/collection-env-config-selection/collection/test-request.bru
  tests/environments/collection-env-config-selection/init-user-data/collection-security.json
  tests/environments/collection-env-config-selection/init-user-data/preferences.json
  tests/environments/global-env-config-selection/collection/bruno.json
  tests/environments/global-env-config-selection/collection/test-request.bru
  tests/environments/global-env-config-selection/global-env-config-selection.spec.ts
  tests/environments/global-env-config-selection/init-user-data/collection-security.json
  tests/environments/global-env-config-selection/init-user-data/global-environments.json
  tests/environments/global-env-config-selection/init-user-data/preferences.json
Labels: size/L

#5711 feat(cli): ignore and skip invalid `.bru` file
  packages/bruno-cli/src/utils/collection.js
Labels: size/S

#5697 Refactor: Remove `normalizeNewlines` function and update tests to preserve newline types
  packages/bruno-lang/v2/src/envToJson.js
  packages/bruno-lang/v2/src/utils.js
  packages/bruno-lang/v2/tests/utils.spec.js
Labels: size/S

#5278 Feat/editor custom search
  packages/bruno-app/src/components/CodeEditor/CustomSearch/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/CustomSearch/index.js
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-app/src/hooks/useDebounce/index.js
  packages/bruno-app/src/themes/dark.js
  packages/bruno-app/src/themes/light.js
  tests/request/collections/custom-search/bruno.json
  tests/request/collections/custom-search/package.json
  tests/request/collections/custom-search/search-request.bru
  tests/request/tests/custom-search/custom-search.spec.ts
  tests/request/tests/custom-search/init-user-data/collection-security.json
  tests/request/tests/custom-search/init-user-data/preferences.json
Labels: size/XL

#5733 fix: fixing tests using locale on numbers
  packages/bruno-app/src/components/ResponsePane/ResponseSize/ResponseSize.spec.js
Labels: size/S

#5741 fix: keepAlive's fallback adds problem while saving normal requests
  packages/bruno-app/src/components/RequestPane/WsQueryUrl/StyledWrapper.js
  packages/bruno-lang/v2/src/bruToJson.js
  packages/bruno-lang/v2/tests/bruToJson.spec.js
  tests/request/save/save.spec.ts
  tests/utils/page/locators.ts
Labels: size/L
