Repository usebruno/bruno, pull requests merged in 2025-03, with the labels that each got.

#4151 Update link to roadmap in readme.md
  readme.md
Labels: size/XS

#4152 feat: auto select body tab if it exists when params isnt active
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
Labels: size/XS

#4183 chore: updated share collection color theme
  packages/bruno-app/src/components/CollectionSettings/Overview/Info/index.js
Labels: size/XS

#4196 Fix: New postman schema url fails import
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/XS

#4082 improve: error handling for scripts
  packages/bruno-app/src/components/RequestPane/HttpRequestPane/index.js
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
  packages/bruno-app/src/components/ResponsePane/ScriptError/StyledWrapper.js
  packages/bruno-app/src/components/ResponsePane/ScriptError/index.js
  packages/bruno-app/src/components/ResponsePane/ScriptErrorIcon/index.js
  packages/bruno-app/src/components/ResponsePane/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/codemirror/javascript-lint.js
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/L

#4103 Fix: Inconsistent JSON parsing and formatting in `res.body` and Res-preview
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-cli/src/utils/common.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-js/src/sandbox/quickjs/index.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
  packages/bruno-js/src/utils.js
  packages/bruno-tests/collection/asserts/test-assert-combinations.bru
  packages/bruno-tests/collection/echo/test echo any.bru
  packages/bruno-tests/collection/echo/test echo-any json.bru
  packages/bruno-tests/collection/environments/Local.bru
  packages/bruno-tests/collection/environments/Prod.bru
  packages/bruno-tests/collection/response-parsing/test JSON false response.bru
  packages/bruno-tests/collection/response-parsing/test JSON null response.bru
  packages/bruno-tests/collection/response-parsing/test JSON number response.bru
  packages/bruno-tests/collection/response-parsing/test JSON response.bru
  packages/bruno-tests/collection/response-parsing/test JSON string response.bru
  packages/bruno-tests/collection/response-parsing/test JSON string with quotes response.bru
  packages/bruno-tests/collection/response-parsing/test JSON true response.bru
  packages/bruno-tests/collection/response-parsing/test JSON unsafe-int response.bru
  packages/bruno-tests/collection/response-parsing/test binary response.bru
  packages/bruno-tests/collection/response-parsing/test html response.bru
  packages/bruno-tests/collection/response-parsing/test image response.bru
  packages/bruno-tests/collection/response-parsing/test invalid JSON response with formatting.bru
  packages/bruno-tests/collection/response-parsing/test plain text response with formatting.bru
  packages/bruno-tests/collection/response-parsing/test plain text response.bru
  packages/bruno-tests/collection/response-parsing/test plain text utf16 response.bru
  packages/bruno-tests/collection/response-parsing/test plain text utf16-be with BOM response.bru
  packages/bruno-tests/collection/response-parsing/test plain text utf16-le with BOM response.bru
  packages/bruno-tests/collection/response-parsing/test plain text utf8 with BOM response.bru
  packages/bruno-tests/collection/response-parsing/test xml response.bru
  packages/bruno-tests/src/echo/index.js
  packages/bruno-tests/src/index.js
Labels: size/XL

#4217 chore: deps update - axios, jsonpath-plus, @aws-sdk/credential-provider, express
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-cli/package.json
  packages/bruno-electron/package.json
  packages/bruno-js/package.json
  packages/bruno-tests/package.json
Labels: size/S

#4225 chore: updated bruno lib versions
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-cli/package.json
  packages/bruno-common/package.json
  packages/bruno-docs/package.json
  packages/bruno-docs/readme.md
  packages/bruno-electron/package.json
  packages/bruno-js/package.json
  packages/bruno-lang/package.json
  packages/bruno-schema/package.json
Labels: size/M

#3380 Fix typos
  docs/publishing/publishing_nl.md
  packages/bruno-app/src/components/RequestPane/QueryEditor/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/GoldenEdition/index.js
  packages/bruno-app/src/hooks/useOnClickOutside/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/importers/openapi-collection.js
  packages/bruno-cli/src/commands/run.js
  packages/bruno-cli/src/constants.js
  packages/bruno-common/src/interpolate/index.spec.ts
  packages/bruno-electron/src/cache/requestUids.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/store/bruno-config.js
  packages/bruno-electron/src/store/oauth2.js
  packages/bruno-electron/src/store/process-env.js
  packages/bruno-electron/src/utils/form-data.js
  packages/bruno-lang/v2/src/jsonToBru.js
Labels: size/M

#3828 Fix: Global Environment dropdown
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSelector/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/index.js
Labels: size/XS

#4226 fix: revert pr #4225 that broke tests
  package-lock.json
  packages/bruno-app/package.json
  packages/bruno-cli/package.json
  packages/bruno-common/package.json
  packages/bruno-docs/package.json
  packages/bruno-docs/readme.md
  packages/bruno-electron/package.json
  packages/bruno-js/package.json
  packages/bruno-lang/package.json
  packages/bruno-schema/package.json
Labels: size/M

#2953 update ukrainian readme
  docs/readme/readme_ua.md
Labels: size/XS

#4000 ignores caching for AWS credentials provider
  packages/bruno-cli/src/runner/awsv4auth-helper.js
  packages/bruno-electron/src/ipc/network/awsv4auth-helper.js
Labels: size/XS

#3731 chore: rephrase placeholder for clarity
  packages/bruno-app/src/components/Sidebar/Collections/index.js
Labels: size/XS

#4156 feat: add runner delay for bruno cli
  packages/bruno-cli/src/commands/run.js
Labels: size/S

#3487 feat: Natural sort collection names with numbers
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
Labels: size/XS

#4111 filename support for requests and folders
  package-lock.json
  packages/bruno-app/src/components/CollectionSettings/ClientCertSettings/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/CreateEnvironment/index.js
  packages/bruno-app/src/components/Environments/EnvironmentSettings/RenameEnvironment/index.js
  packages/bruno-app/src/components/FilePickerEditor/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/CreateEnvironment/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/RenameEnvironment/index.js
  packages/bruno-app/src/components/PathDisplay/StyledWrapper.js
  packages/bruno-app/src/components/PathDisplay/index.js
  packages/bruno-app/src/components/Preferences/General/index.js
  packages/bruno-app/src/components/RunnerResults/index.jsx
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemInfo/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/StyledWrapper.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/index.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/common/path.js
  packages/bruno-app/src/utils/common/platform.js
  packages/bruno-app/src/utils/common/regex.js
  packages/bruno-app/src/utils/common/regex.spec.js
  packages/bruno-app/src/utils/common/slash.js
  packages/bruno-app/src/utils/importers/common.js
  packages/bruno-electron/src/app/collections.js
  packages/bruno-electron/src/app/watcher.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/utils/collection.js
  packages/bruno-electron/src/utils/filesystem.js
  packages/bruno-electron/src/utils/filesystem.test.js
  packages/bruno-js/src/sandbox/quickjs/shims/bru.js
Labels: size/XXL

#4095 [DX]: Document running test suite for all workspaces
  contributing.md
  docs/contributing/contributing_bn.md
  docs/contributing/contributing_cn.md
  docs/contributing/contributing_de.md
  docs/contributing/contributing_es.md
  docs/contributing/contributing_fr.md
  docs/contributing/contributing_hi.md
  docs/contributing/contributing_it.md
  docs/contributing/contributing_ja.md
  docs/contributing/contributing_kr.md
  docs/contributing/contributing_nl.md
  docs/contributing/contributing_pl.md
  docs/contributing/contributing_pt_br.md
  docs/contributing/contributing_ro.md
  docs/contributing/contributing_ru.md
  docs/contributing/contributing_sk.md
  docs/contributing/contributing_tr.md
  docs/contributing/contributing_ua.md
  docs/contributing/contributing_zhtw.md
Labels: size/L

#4243 filename support updates
  packages/bruno-app/src/components/PathDisplay/StyledWrapper.js
  packages/bruno-app/src/components/PathDisplay/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemInfo/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-app/src/utils/common/regex.js
  packages/bruno-app/src/utils/curl/curl-to-json.js
Labels: size/L

#4244 feat: added helptips for file and folder custom names
  packages/bruno-app/src/components/PathDisplay/StyledWrapper.js
  packages/bruno-app/src/components/PathDisplay/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CloneCollection/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/CreateCollection/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
Labels: size/L

#3436 UI: Change the default request auth mode from "none" to "inherit"
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
Labels: size/XS

#4265 feat: improved item info ux
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CloneCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/CollectionItemInfo/index.js
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/RenameCollectionItem/index.js
  packages/bruno-app/src/components/Sidebar/NewFolder/index.js
  packages/bruno-app/src/components/Sidebar/NewRequest/index.js
Labels: size/M

#4269 style: update font-family for improved typography consistency
  packages/bruno-app/src/styles/globals.css
Labels: size/XS

#4301 fix: request run crash
  packages/bruno-app/src/components/Sidebar/Collections/Collection/CollectionItem/index.js
Labels: size/XS

#4321 fix: codemirror lint errors
  packages/bruno-app/src/utils/codemirror/javascript-lint.js
Labels: size/S

#4331 Revert "Fix: Prettify JSON for Res-preview without parsing to avoid J…
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
  packages/bruno-app/src/utils/common/index.js
Labels: size/S

#4332 Revert "Fix: Prettify JSON for Res-preview without parsing to avoid J…
  packages/bruno-app/src/components/ResponsePane/QueryResult/index.js
  packages/bruno-app/src/utils/common/index.js
Labels: size/S

#4330 handle oauth2 timeline response, remove dataBuffer from debugInfo obj
  packages/bruno-app/src/components/ResponsePane/Timeline/TimelineItem/Request/index.js
  packages/bruno-app/src/components/ResponsePane/Timeline/TimelineItem/Response/index.js
  packages/bruno-app/src/providers/ReduxStore/slices/collections/actions.js
  packages/bruno-app/src/utils/common/index.js
  packages/bruno-electron/src/ipc/network/axios-instance.js
  packages/bruno-electron/src/utils/oauth2.js
Labels: size/M

#4340 Fix: TLS settings not applying to proxied connections
  packages/bruno-electron/src/utils/proxy-util.js
Labels: size/M

#4359 fix: proxy and certs config not being used for oauth2 calls
  packages/bruno-app/src/components/ResponsePane/Timeline/TimelineItem/Common/Time/index.js
  packages/bruno-electron/src/ipc/collection.js
  packages/bruno-electron/src/ipc/network/index.js
  packages/bruno-electron/src/utils/oauth2.js
Labels: size/M

#4375 Update/link from collection overview
  packages/bruno-app/src/components/CollectionSettings/Docs/index.js
Labels: size/XS
