Repository usebruno/bruno, pull requests merged in 2025-04, with the labels that each got.

#4400 Fix: Remove unwanted transitive `devDependencies` of `electron-store`
  package-lock.json
  package.json
Labels: size/XS

#4278 Feat/ Set default names for folders and requests in Postman collection importer (fixes: #4277)
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/XS

#3958 Fix: `res.setBody` fails for Object in Developer-mode
  packages/bruno-app/src/components/CodeEditor/index.js
  packages/bruno-js/src/bruno-response.js
Labels: size/XS

#1397 feat(scripting): allow multiple script context roots in response scripts
  packages/bruno-js/src/runtime/script-runtime.js
Labels: enhancement

#4399 fix: handle empty script.exec cases in postman collection importer
  packages/bruno-app/src/utils/importers/postman-collection.js
Labels: size/M

#4377 Update contributing.md with contribution guidelines and setup instructions
  contributing.md
Labels: size/S

#4372 fix console error Invalid DOM property stroke-width (fixes #4371)
  packages/bruno-app/src/components/Icons/Dot/index.js
Labels: size/XS

#4056 fix unsupport symbolic link folders
  packages/bruno-cli/src/commands/run.js
  packages/bruno-cli/src/utils/filesystem.js
Labels: size/XS

#4420 updated bruno cli readme file
  packages/bruno-cli/readme.md
Labels: size/S

#4419 Rename "custom" and "default" to "Custom" and "Default" (Case Sensitive) for Consistency
  packages/bruno-app/src/components/Preferences/General/index.js
Labels: size/XS

#4437 Updating issue template for github to track regression bugs
  .github/ISSUE_TEMPLATE/BugReport.yaml
Labels: size/XS

#4440 Fix: Highlight matching brackets pair
  packages/bruno-app/src/components/CodeEditor/StyledWrapper.js
Labels: size/XS

#4394 Added Playwright-codegen setup
  package.json
  scripts/playwright-codegen.js
Labels: size/S

#4449 fix: Oauth2 toast typo
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/Oauth2ActionButtons/index.js
Labels: size/XS

#4432 fix: user agent header
  packages/bruno-electron/src/ipc/network/axios-instance.js
Labels: size/XS

#4460 Oauth2 refresh token call fixes
  packages/bruno-electron/src/utils/oauth2.js
Labels: size/XS

#4465 add: bruno converters package in workfow file
  .github/workflows/tests.yml
Labels: size/XS

#4471 added example to readme file
  packages/bruno-converters/readme.md
Labels: size/M

#3875 chore: updated required node version in german contributing file
  docs/contributing/contributing_de.md
Labels: documentation, size/XS

#4264 fix: header key variables not interpolating with capital letters
  packages/bruno-electron/src/utils/collection.js
Labels: size/S

#4135 fix: update global env in collection runner
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/XS

#4166 Fix: Prevent --bail option from treating skipped requests as failures
  packages/bruno-cli/src/commands/run.js
Labels: size/XS

#2958 bugfix/chokidar disables globbing
  packages/bruno-electron/src/app/watcher.js
Labels: size/XS

#4483 Fix: Mock/Random built-in variables related issues
  packages/bruno-electron/src/ipc/network/interpolate-vars.js
Labels: size/M

#4487 Fix: Missing bruno-requests module in `setup.js` and `package-lock.json`
  package-lock.json
  scripts/setup.js
Labels: size/XS

#4507 feat: add tests for mock variable interpolation in interpolate function
  packages/bruno-common/src/interpolate/index.spec.ts
Labels: size/M

#4468 feat: add insomnia v5 import
  packages/bruno-converters/src/insomnia/insomnia-to-bruno.js
  packages/bruno-converters/tests/insomnia/insomnia-collection-v5.spec.js
Labels: size/L

#4516 Bugfix: Add cheerio and xml2js modules to post-response scripts
  packages/bruno-js/src/runtime/script-runtime.js
  packages/bruno-tests/collection/scripting/inbuilt modules/cheerio/cheerio.bru
  packages/bruno-tests/collection/scripting/inbuilt modules/xml2js/xml2js.bru
Labels: size/M

#4519 refactor: bruno-common interpolate fn
  package-lock.json
  package.json
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/Oauth2ActionButtons/index.js
  packages/bruno-app/src/components/RequestPane/Auth/OAuth2/Oauth2TokenViewer/index.js
  packages/bruno-app/src/utils/codemirror/brunoVarInfo.js
  packages/bruno-app/src/utils/collections/index.js
  packages/bruno-app/src/utils/exporters/postman-collection.js
  packages/bruno-app/src/utils/importers/insomnia-collection.js
  packages/bruno-app/src/utils/importers/openapi-collection.js
  packages/bruno-app/src/utils/importers/postman-collection.js
  packages/bruno-app/src/utils/importers/postman-environment.js
  packages/bruno-app/src/utils/url/index.js
  packages/bruno-common/babel.config.js
  packages/bruno-common/jest.config.js
  packages/bruno-common/package.json
  packages/bruno-common/src/index.ts
  packages/bruno-common/src/interpolate/index.spec.ts
  packages/bruno-common/src/interpolate/index.ts
  packages/bruno-common/src/utils/index.spec.ts
  packages/bruno-common/src/utils/index.ts
  packages/bruno-converters/src/index.js
  packages/bruno-tests/collection/string interpolation/objects-arrays interpolation.bru
  packages/bruno-tests/collection/string interpolation/runtime vars.bru
Labels: size/L

#3944 Fix: Folder drag-and-drop crash
  packages/bruno-app/src/components/RequestTabPanel/index.js
Labels: size/XS

#4523 fix: add json parsing and error handling for postman environment imports
  packages/bruno-app/src/components/Environments/EnvironmentSettings/ImportEnvironment/index.js
  packages/bruno-app/src/components/GlobalEnvironments/EnvironmentSettings/ImportEnvironment/index.js
  packages/bruno-app/src/utils/importers/postman-environment.js
Labels: size/S

#3853 Styled skipped requests
  packages/bruno-app/src/components/ResponsePane/SkippedRequest/StyledWrapper.js
  packages/bruno-app/src/components/ResponsePane/SkippedRequest/index.js
  packages/bruno-app/src/components/ResponsePane/TestResults/StyledWrapper.js
  packages/bruno-app/src/components/ResponsePane/index.js
  packages/bruno-app/src/components/RunnerResults/ResponsePane/StyledWrapper.js
  packages/bruno-app/src/components/RunnerResults/ResponsePane/index.js
  packages/bruno-app/src/components/RunnerResults/StyledWrapper.js
  packages/bruno-app/src/components/RunnerResults/index.jsx
Labels: size/M

#4536 added html reports submodule setup in the bruno-common package
  package-lock.json
  package.json
  packages/bruno-cli/src/commands/run.js
  packages/bruno-cli/tests/commands/run.spec.js
  packages/bruno-cli/tests/reporters/html.spec.js
  packages/bruno-common/package.json
  packages/bruno-common/rollup.config.js
  packages/bruno-common/src/runner/index.ts
  packages/bruno-common/src/runner/reports/html/generate-report.ts
  packages/bruno-common/src/runner/reports/html/template.ts
  packages/bruno-common/src/runner/runner-summary.ts
  packages/bruno-common/src/runner/types/index.ts
  packages/bruno-common/src/runner/utils/index.ts
  packages/bruno-electron/src/ipc/network/index.js
Labels: size/XXL

#4525 fix: Add null checks and fallbacks to `Bruno-to-Postman` converter to…
  packages/bruno-converters/src/postman/bruno-to-postman.js
  packages/bruno-converters/tests/postman/bruno-to-postman.spec.js
Labels: size/L

#4524 Refactor: Reorganize Postman translation tests into modular file
  packages/bruno-converters/tests/postman/postman-translations.spec.js
  packages/bruno-converters/tests/postman/postman-translations/postman-comments.spec.js
  packages/bruno-converters/tests/postman/postman-translations/postman-edge-cases.spec.js
  packages/bruno-converters/tests/postman/postman-translations/postman-test-commands.spec.js
  packages/bruno-converters/tests/postman/postman-translations/postman-variables.spec.js
Labels: size/L

#4520 Include globalEnvironmentVariables in runPostResponseVars result
  packages/bruno-js/src/runtime/vars-runtime.js
Labels: size/XS

#4475 Feat: Added support for various authentication types in the Postman to Bruno converter
  package.json
  packages/bruno-converters/src/postman/postman-to-bruno.js
  packages/bruno-converters/tests/postman/postman-to-bruno.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/collection-auth.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/folder-auth.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-to-bruno.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-translations/postman-request.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/postman-translations/postman-response.spec.js
  packages/bruno-converters/tests/postman/postman-to-bruno/request-auth.spec.js
Labels: size/XXL
